/**
  Theme Name: daleviaje new styles for home search
  Author: Erick Alexander Flores Barneond
  Contact: ealexanderflores89@gmail.com
  Version: 1.0
*/
.search-forms {
  min-height: 560px;
  padding: 240px 16px 40px;
}

.search-forms > .row {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.search-forms > .row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-forms > .container #BuscadorPrincipalIndex {
  margin-top: 0 !important;
}

.search-forms #tabsBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-forms #tabsBusqueda #tabsHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin: 0 40px 16px;
  border-bottom: 1px solid #E0E0E0;
}
