@import url('/archivosApoyo_82/assets/css/style.css');

#main {
    display: none;
}

#resumenTC, #lstTransacciones, #impresionOn, .impresionOn, .modal {
    display: block;
    top: 100px;
    margin: auto;
    font-size: 14px;
    height: auto;
    padding: 10px;
    right: 200px;
    border: none;
    background-color: white;
    z-index: 99999;
}

    #impresionOn div, .impresionOn, .impresionOn, .modal {
        display: block;
        margin: auto;
        height: auto;
        border: none;
        background-color: white;
        z-index: 99999;
    }
