$desktop: 1200px;
$laptop: 1024px;
$tablet: 992px;
$phone: 600px;
$phone-small: 480px;

@mixin on($media) {
  @if $media == phone-small {
    @media only screen and (max-width: ($phone - 1px)) {
      @content;
    }
  } @else if $media == phone {
    @media only screen and (max-width: ($tablet - 1px)) {
      @content;
    }
  } @else if $media == phone-up {
    @media only screen and (min-width: $phone) {
      @content;
    }
  } @else if $media == phone-only {
    @media only screen and (min-width: $phone) and (max-width: ($tablet - 1px)) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: ($laptop - 1px)) {
      @content;
    }
  } @else if $media == tablet-up {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  } @else if $media == tablet-only {
    @media only screen and (min-width: $tablet) and (max-width: ($laptop - 1px)) {
      @content;
    }
  } @else if $media == laptop {
    @media only screen and (max-width: ($desktop - 1px)) {
      @content;
    }
  } @else if $media == laptop-up {
    @media only screen and (min-width: $laptop) {
      @content;
    }
  } @else if $media == laptop-only {
    @media only screen and (min-width: $laptop) and (max-width: ($desktop - 1px)) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
}
