// colors
$colors: (
  "primary": #3f1893,
  "secondary": #ff9616,
  "danger": #ff1221,
  "title": #4a4a4a,
  "body": #333,
  "text": #666,
  "placeholder": #b1b1b1,
  "border": #e0e0e0,
  "white": #fff,
  "bg-gray": #f8f8f8,
  "purple": #8b09df,
  "bi_primary": #003865,
  "bi_secondary": #003057,
  "bi_yellow": #FEC104
);

// border radius
$border-radius-box: 4px;
$border-radius-input: 4px;
$border-radius-button: 4px;
$border-radius-coupon: 6px;

// font weight
$font-regular: normal;
$font-semibold: 600;
$font-bold: 700;
