/**
  Theme Name: daleviaje new styles for home search
  Author: Erick Alexander Flores Barneond
  Contact: ealexanderflores89@gmail.com
  Version: 1.0
*/

// variables
@import "./variables";

// tools
@import "./tools/getColor";
@import "./tools/mediaQueries";

// components
.search-forms {
  min-height: auto;
  padding: 80px 16px 80px;

  @include on(phone) {
    padding: 48px 12px 16px;
  }

  > * {
    box-sizing: border-box;
  }

  // styles for background
  > .row {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // styles for main container
  > .container {
    padding: 0;
    #BuscadorPrincipalIndex {
      margin-top: 0 !important;
    }
  }

  // helpers
  @import "./homeSearch/helpers";
  // icons
  @import "./homeSearch/icons";
  // global components
  @import "./homeSearch/inputs";
  @import "./homeSearch//buttons";
  @import "./homeSearch/passengers";
  @import "./homeSearch/checkOptions";
  // tabs
  @import "./homeSearch/tabs";
  @import "./homeSearch/tabVuelos";
  @import "./homeSearch/tabVueloHotel";
  @import "./homeSearch/tabHoteles";
  @import "./homeSearch/tabAutos";
  @import "./homeSearch/tabSeguro";
}

// other components
@import "./components/uiMenu";
