.dvBanks {
  padding: 0 24px 24px;
  border-bottom: 1px solid getColor('border');
  margin-bottom: 24px;

  .dvForm & {
    margin-left: -24px;
    margin-right: -24px;

    @include on(phone) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  &-title {
    margin: 0 0 16px;
    font-size: 22px;
    font-weight: $font-semibold;
    text-align: center;
    color: getColor('primary');
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 16px 0;

    img {
      width: 64px;
      height: auto;

      @include on(phone) {
        width: 32px;
      }
    }
  }
}