.dvButton {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  padding: 16px 24px;
  border: 0;
  border-radius: $border-radius-button;
  font-size: 16px;
  font-weight: $font-semibold;
  line-height: 1em;
  white-space: nowrap;
  color: getColor('white');
  background-color: getColor('secondary');
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out,
              border-color 0.2s ease-in-out,
              outline-color 0.2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: getColor('white');
    background-color: getColor('primary');
    text-decoration: none;
  }

  &-dark {
    &:hover {
      color: getColor('secondary');
      background: getColor('white');
    }
  }

  &-outlined {
    border: 2px solid getColor('secondary');
    color: getColor('primary');
    background-color: getColor('white');

    &:hover,
    &:active,
    &:focus {
      color: getColor('white');
      background-color: getColor('secondary');
    }
  }

  &-rounded {
    border-radius: 100px;
  }

  &-full {
    width: 100%;
  }

  &-xsmall {
    font-size: 13px;
    height: 32px;
    padding: 6px 12px;
  }

  .icon,
  .fas,
  i,
  svg,
  img {
    margin: 8;

    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }

  img {
    height: 24px;
    width: auto;
  }

  .hide-on-tablet-up {
    @include on(tablet-up) {
      display: none;
    }
  }

  // container
  &-container {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
  }

  // special for BI button
  &--BiPuntos {
    border-radius: 32px 4px 32px 4px;
    background-color: getColor('bi_primary');
    color: #fff;
    
    span {
      display: inline-block;
      margin: 0 4px;
      color: getColor('bi_yellow');
    }
    
    img {
      height: 28px;
      margin-left: 16px !important;
    }
  }
}