.dvCards {
  ul.card_logos {
    display: flex;
    align-items: center;

    li {
      position: relative;
      margin-left: 8px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        padding: 8px;
        margin: 0;
        cursor: pointer;
        border: 1px solid getColor('border');
        border-radius: $border-radius-input;
        outline: 1px solid getColor('white');
        transition: border-color 0.2s ease-in-out, outline-color 0.3s ease-in-out;

        div {
          display: block;
          margin: 0;
        }
      }

      input:checked + label {
        border-color: getColor('secondary');
        outline-color: getColor('secondary');
      }
    }
  }
}