.dvCoupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: $border-radius-coupon;
  background: getColor('primary');

  @include on(phone) {
    flex-direction: column;
  }

  &-message {
    display: flex;
    align-items: center;
    max-width: 60%;
    font-size: 18px;
    font-weight: $font-semibold;
    color: getColor('white');

    @include on(phone) {
      max-width: 100%;
      text-align: center;
      margin-bottom: 16px;
    }

    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
      margin-right: 8px;
    }

    p {
      margin: 0;
      line-height: 1.3em;
    }
  }

  &-form {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 8px;

    @include on(phone) {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
    }

    .form-field {
      padding: 0;
      padding-right: 12px;
      flex-grow: 1;
      min-width: 160px;

      @include on(phone) {
        padding: 0;
        margin-bottom: 12px !important;
      }
    }

    .field-input,
    select {
      width: 100%;
      height: 54px;
      padding: 16px 14px;
      border: 0 !important;
      border-radius: $border-radius-input;
      font-size: 14px;
      font-weight: $font-regular;
      color: getColor('title') !important;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
  
      &::placeholder {
        color: getColor('placeholder');
      }
  
      &:hover {
        border-color: darken(getColor('border'), 15%) !important;
      }

      &:focus {
        border-color: getColor('secondary') !important;
        outline: 1px solid getColor('secondary');
      }
    }

    select {
      background-position: right 16px center !important;
    }

    .help-block {
      padding-top: 4px;
      margin: 0;
      margin-bottom: -4px;

      &.with-errors {
        color: getColor('danger');
      }
    }
  }

  &-vertical {
    flex-direction: column;
    padding: 24px;
    margin: 12px 0;
    text-align: center;

    @include on(phone) {
      padding: 16px;
    }

    .dvCoupon-message {
      max-width: 100%;
      margin-bottom: 16px;
    }

    .dvCoupon-form {
      margin: 0;
      width: 100%;
    }
  }
}