.dvForm {
  border: 1px solid getColor('border');
  border-radius: $border-radius-box;
  padding: 32px 24px;
  margin-bottom: 16px;

  @include on(phone) {
    padding: 24px 16px;
  }

  * {
    box-sizing: border-box;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &-title {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: $font-semibold;
    line-height: 1em;
    color: getColor('title');

    .dvForm-header & {
      margin: 0;
    }

    @include on(phone) {
      font-size: 16px;
    }
  }

  &-legend {
    @extend .dvForm-title;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: $font-regular;

    @include on(phone) {
      font-size: 16px;
    }

    &::before {
      content: '';
      min-width: 12px;
      display: inline-block;
      border-bottom: 1px solid getColor('secondary');
      margin-right: 8px;
    }

    &::after {
      content: '';
      flex-grow: 1;
      display: inline-block;
      border-bottom: 1px solid getColor('secondary');
      margin-left: 8px;
    }
  }

  &-group {
    margin-top: 24px;
  }

  &-row {
    margin-left: -8px;
    margin-right: -8px;

    &:last-child {
      margin-bottom: -24px;
    }
  }

  &-label {
    margin: 0 0 8px;
    font-size: 14px;
    font-weight: $font-semibold;
    line-height: 1em;
    white-space: nowrap;

    &.required {
      &::after {
        content: '*';
        display: inline-block;
        margin-left: 4px;
        color: getColor('secondary');
      }
    }

    &-placeholder {
      display: block;
      margin-bottom: 8px;
      height: 14px;

      &::before {
        content: "placeholder";
        display: inline-block;
        opacity: 0;
      }

      @include on(phone) {
        display: none;
      }
    }
  }

  .form-field {
    margin-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;

    @include on(phone) {
      margin-bottom: 16px;
    }

    .form-field {
      margin-bottom: 0;

      @include on(phone) {
        margin-bottom: 16px;
      }
    }

    .field-input,
    select {
      width: 100%;
      height: 54px;
      padding: 16px 14px;
      border: 1px solid getColor('border') !important;
      border-radius: $border-radius-input;
      font-size: 14px;
      font-weight: $font-regular;
      color: getColor('title') !important;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
  
      &::placeholder {
        color: getColor('placeholder');
      }
  
      &:hover {
        border-color: darken(getColor('border'), 15%) !important;
      }

      &:focus {
        border-color: getColor('secondary') !important;
        outline: 1px solid getColor('secondary');
      }
    }

    select {
      background-position: right 16px center !important;
    }

    .help-block {
      padding-top: 4px;
      margin: 0;
      margin-bottom: -4px;

      &.with-errors {
        color: getColor('danger');
      }
    }

    #banklogo,
    .card-image {
      position: absolute;
      right: 8px;
      height: 39px;
      width: 39px;
      margin: 8px;

      img {
        max-width: 100%;
      }
    }

    .card-image {
      width: 48px;
      margin: 12px;
    }
  }

  // bi styles
  &-bi {
    padding: 0 24px 24px;
    border-bottom: 1px solid getColor('border');
    margin-bottom: 24px;
    margin-left: -24px;
    margin-right: -24px;
  }

  // others
  &-dues {
    padding: 12px;
    margin: 24px 0 16px;
    font-size: 18px;
    font-weight: $font-semibold;
    line-height: 1.2em;
    text-align: center;
    background-color: getColor('bg-gray');
    border-radius: $border-radius-box;
  }

  &-advice {
    padding: 0 16%;
    margin: 8px 0;
    font-size: 14px;
    text-align: center;
    color: getColor('text');

    &.full {
      padding: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include on(phone) {
      padding: 0;
    }
  }

  &-middleText {
    float: left;
    padding: 40px 4px;
    font-size: 14px;
    font-weight: $font-semibold;
  }
}