.dvPriceResume {
  display: flex;
  justify-content: center;
  padding: 0 24px 24px;
  border-bottom: 1px solid getColor('border');
  margin-bottom: 24px;
  clear: both;

  .dvForm & {
    margin-left: -24px;
    margin-right: -24px;

    @include on(phone) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  &-table {
    flex-grow: 1;
    max-width: 400px;
    margin: -8px 0;

    td {
      padding: 6px;
      vertical-align: middle;
    }
  }

  &-row {
    font-size: 16px;
    font-weight: $font-regular;
    color: getColor('title');
    line-height: 1em;

    &.total {
      font-weight: $font-semibold;
    }

    &.subTotal {
      color: getColor('text');
    }

    &.grandTotal {
      font-size: 22px;
      font-weight: $font-bold;
    }
  }

  &-currency {
    text-align: right;
  }

  &-gtq {
    font-size: 16px;
    font-weight: $font-semibold;
    color: getColor('primary');
  }
}