.dvSubmit {
  display: flex;
  align-items: center;
  margin: 24px 0;

  @include on(phone) {
    display: block;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
  }

  &-checkbox {
    padding: 4px;
    margin: 2px 0;
    font-size: 16px;
    font-weight: $font-regular;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: getColor('secondary');

      &:hover {
        text-decoration: underline;
      }
    }
  }
}