.dvTabs {
  margin-bottom: 24px;

  .dvForm & {
    margin: -32px -24px 24px;

    @include on(phone) {
      margin: -24px -16px 16px;
    }
  }

  ul.nav-tabs {
    display: flex;
    border-bottom: 1px solid getColor('border');

    > li {
      flex-grow: 1;
      padding: 0;

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 0;
        border: 0;
        border-right: 1px solid getColor('border');
        border-radius: 0 !important;
        margin: 0;
        font-size: 16px !important;
        font-weight: $font-regular;
        text-transform: uppercase;
        color: getColor('title');
        
        img {
          height: 32px;
        }

        span {
          display: block;
          margin-right: 4px;

          @include on(phone) {
            display: none;
          }
        }

        &:hover {
          border-right-color: getColor('secondary');
          font-size: 16px !important;
          color: getColor('white');
          background-color: getColor('secondary');
        }
      }

      &:first-child {
        a {
          border-top-left-radius: $border-radius-box !important;
        }
      }

      &:last-child {
        a {
          border-right: 0;
          border-top-right-radius: $border-radius-box !important;
        }
      }

      &.active {
        a {
          border-right-color: getColor('primary');
          color: getColor('white') !important;
          font-weight: $font-semibold;
        }
      }
    }
  }
}