.ui-menu.ui-autocomplete {
  padding: 4px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02),
    0px 4px 18px rgba(0, 0, 0, 0.08);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(getColor("border"), 0.5);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: getColor("secondary");
    border-radius: 10px;
  }

  .ui-menu-item {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;

    .ui-menu-item-wrapper {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      border: 0;
      color: getColor("body") !important;
      border-radius: 4px;
      line-height: 1.2em;

      &:hover,
      &.ui-state-active {
        border: 0;
        margin: 0;
        font-weight: normal;
        text-decoration: none;
        color: getColor("primary") !important;
        background: rgba(getColor("purple"), 0.05) !important;
      }

      .fa,
      .fas,
      .sboxIcon {
        margin-right: 8px;
        font-size: 18px;
        color: inherit;

        &.fa-plane {
          color: getColor("purple");
        }
      }
    }
  }
}
