/**
  Theme Name: daleviaje new styles for home search
  Author: Erick Alexander Flores Barneond
  Contact: ealexanderflores89@gmail.com
  Version: 1.0
*/
.search-forms {
  min-height: auto;
  padding: 80px 16px 80px;
}

@media only screen and (max-width: 991px) {
  .search-forms {
    padding: 48px 12px 16px;
  }
}

.search-forms > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-forms > .row {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
}

.search-forms > .row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-forms > .container {
  padding: 0;
}

.search-forms > .container #BuscadorPrincipalIndex {
  margin-top: 0 !important;
}

.search-forms .fluid-columns div[class*="col-"], .search-forms .fluid-full-columns div[class*="col-"], .search-forms #buscadorVuelos .trayectoInputs > div div[class*="col-"], .search-forms #buscadorVuelos #OpcAvanced div[class*="col-"], .search-forms #buscadorVueloHotel .trayectoInputsVH div[class*="col-"], .search-forms #buscadorVueloHotel #OpcAvancedVH div[class*="col-"], .search-forms #buscadorVuelos #pasajeros div[class*="col-"], .search-forms #buscadorHoteles #opcionesViaje div[class*="col-"], .search-forms #buscadorAutos #opcionesViaje div[class*="col-"], .search-forms #buscadorSeguros #opcionesViaje div[class*="col-"] {
  float: none;
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
}

.search-forms .fluid-full-columns div[class*="col-"], .search-forms #buscadorVuelos .trayectoInputs > div div[class*="col-"], .search-forms #buscadorVuelos #OpcAvanced div[class*="col-"], .search-forms #buscadorVueloHotel .trayectoInputsVH div[class*="col-"], .search-forms #buscadorVueloHotel #OpcAvancedVH div[class*="col-"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.search-forms .remove-clearfix::before, .search-forms #buscadorVuelos .trayectoInputs > div::before, .search-forms #buscadorVuelos #pasajeros::before, .search-forms #buscadorVuelos #OpcAvanced::before, .search-forms #buscadorVueloHotel #OpcAvancedVH::before, .search-forms .remove-clearfix::after, .search-forms #buscadorVuelos .trayectoInputs > div::after, .search-forms #buscadorVuelos #pasajeros::after, .search-forms #buscadorVuelos #OpcAvanced::after, .search-forms #buscadorVueloHotel #OpcAvancedVH::after {
  display: none;
}

.search-forms .custom-icon, .search-forms .icon-arrow-drop-down, .search-forms .tab-content select,
.search-forms .tab-content #selClase, .search-forms .IfPassContainer .IfPassInfo, .search-forms .icon-location-pin__purple, .search-forms .tab-content .glyphicon.glyphicon-map-marker, .search-forms .tab-content .glyphicon.glyphicon-globe, .search-forms .tab-content .glyphicon.glyphicon-remove, .search-forms .tab-content #fromInsurance, .search-forms .icon-date-range__purple, .search-forms .tab-content input.datepicker,
.search-forms .tab-content input#dateJourney_back, .search-forms .icon-user__purple, .search-forms .IfPassContainer .IfPassInfo .fa-user, .search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 input[type="text"], .search-forms .icon-airplane__purple, .search-forms .tab-content #txtAerolinea,
.search-forms .tab-content #txtAerolineaVH, .search-forms .icon-add__orange, .search-forms #tabsBusqueda .fa.fa-plus, .search-forms #buscadorVuelos #pasajeros .fa.fa-plus, .search-forms .icon-remove__orange, .search-forms #tabsBusqueda .fa.fa-times, .search-forms #buscadorVuelos #pasajeros .fa.fa-times, .search-forms .icon-add__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn.glyphicon-plus, .search-forms .icon-remove__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn, .search-forms .icon-check__white, .search-forms #divOwRt .container > div input:checked + label {
  background-repeat: no-repeat !important;
}

.search-forms .replace-icon, .search-forms .tab-content .glyphicon, .search-forms #tabsBusqueda .fa, .search-forms #tabsBusqueda a[href="#OpcAvanced"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] i.fa, .search-forms .IfPassContainer .IfPassInfo .fa-user, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn, .search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close, .search-forms #buscadorVuelos #pasajeros .fa {
  color: rgba(0, 0, 0, 0) !important;
  width: 24px;
  height: 24px;
  background-position: center center;
}

.search-forms .icon-arrow-drop-down, .search-forms .tab-content select,
.search-forms .tab-content #selClase, .search-forms .IfPassContainer .IfPassInfo {
  background-image: url("../img/icons/arrow-drop-down.svg") !important;
  background-position: right center !important;
}

.search-forms .icon-arrow-up, .search-forms #tabsBusqueda a[href="#OpcAvanced"][aria-expanded="true"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"][aria-expanded="true"] i.fa, .search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"][aria-expanded="true"] i.fa {
  background-image: url("../img/icons/arrow-up.svg") !important;
}

.search-forms .icon-arrow-down, .search-forms #tabsBusqueda a[href="#OpcAvanced"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] i.fa, .search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"] i.fa {
  background-image: url("../img/icons/arrow-down.svg") !important;
}

.search-forms .icon-close, .search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close {
  background-image: url("../img/icons/close.svg") !important;
}

.search-forms .icon-location-pin__purple, .search-forms .tab-content .glyphicon.glyphicon-map-marker, .search-forms .tab-content .glyphicon.glyphicon-globe, .search-forms .tab-content .glyphicon.glyphicon-remove, .search-forms .tab-content #fromInsurance {
  background-image: url("../img/icons/location-pin_purple.svg") !important;
}

.search-forms .icon-date-range__purple, .search-forms .tab-content input.datepicker,
.search-forms .tab-content input#dateJourney_back {
  background-image: url("../img/icons/date-range_purple.svg") !important;
}

.search-forms .icon-user__purple, .search-forms .IfPassContainer .IfPassInfo .fa-user, .search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 input[type="text"] {
  background-image: url("../img/icons/user_purple.svg") !important;
}

.search-forms .icon-airplane__purple, .search-forms .tab-content #txtAerolinea,
.search-forms .tab-content #txtAerolineaVH {
  background-image: url("../img/icons/airplane_purple.svg") !important;
}

.search-forms .icon-add__orange, .search-forms #tabsBusqueda .fa.fa-plus, .search-forms #buscadorVuelos #pasajeros .fa.fa-plus {
  background-image: url("../img/icons/add_orange.svg") !important;
}

.search-forms .icon-remove__orange, .search-forms #tabsBusqueda .fa.fa-times, .search-forms #buscadorVuelos #pasajeros .fa.fa-times {
  background-image: url("../img/icons/remove_orange.svg") !important;
}

.search-forms .icon-add__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn.glyphicon-plus {
  background-image: url("../img/icons/add_primary.svg") !important;
}

.search-forms .icon-remove__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn {
  background-image: url("../img/icons/remove_primary.svg") !important;
}

.search-forms .icon-check__white, .search-forms #divOwRt .container > div input:checked + label {
  background-image: url("../img/icons/check_white.svg") !important;
}

.search-forms .tab-content input[type="text"],
.search-forms .tab-content select {
  width: 100%;
  height: 48px;
  padding: 16px 0 16px 42px;
  border: 1px solid #e0e0e0 !important;
  border-radius: 6px !important;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333 !important;
  -webkit-transition: border-color 0.1s;
  transition: border-color 0.1s;
  background-color: #fff !important;
}

.search-forms .tab-content input[type="text"]::-webkit-input-placeholder,
.search-forms .tab-content select::-webkit-input-placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]:-ms-input-placeholder,
.search-forms .tab-content select:-ms-input-placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]::-ms-input-placeholder,
.search-forms .tab-content select::-ms-input-placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]::placeholder,
.search-forms .tab-content select::placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]:hover,
.search-forms .tab-content select:hover {
  border-color: #bababa !important;
}

.search-forms .tab-content input[type="text"]:focus,
.search-forms .tab-content select:focus {
  border-color: #ff9616 !important;
}

.search-forms .tab-content select,
.search-forms .tab-content #selClase {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 28px 8px 12px;
  background-position: right 8px center !important;
  background-color: #fff !important;
}

.search-forms .tab-content select::-ms-expand,
.search-forms .tab-content #selClase::-ms-expand {
  display: none;
}

.search-forms .tab-content .glyphicon {
  position: absolute;
  right: auto !important;
  left: 10px;
  top: auto !important;
  bottom: 12px !important;
}

.search-forms .tab-content #fromInsurance {
  background-position: 12px center;
}

.search-forms .tab-content input.datepicker,
.search-forms .tab-content input#dateJourney_back {
  background-position: 10px 12px !important;
}

.search-forms .tab-content #txtAerolinea,
.search-forms .tab-content #txtAerolineaVH {
  background-position: 10px 12px !important;
}

.search-forms .tab-content label {
  display: none;
  font-size: 14px;
  margin: 0;
  padding: 4px 0;
}

.search-forms .tab-content .btnbuscadorprincial {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 8px 72px;
  margin: 0 !important;
  font-size: 16px;
  background-color: #ff9616;
  border-radius: 48px;
}

.search-forms .tab-content .btnbuscadorprincial:hover {
  background-color: #3f1893;
}

@media only screen and (max-width: 991px) {
  .search-forms .tab-content .btnbuscadorprincial {
    width: 100%;
  }
}

.search-forms .tab-content .form-submit {
  margin: 0;
}

.search-forms .tab-content .form-submit .clear {
  height: 0;
}

.search-forms #tabsBusqueda #multiTrayecto,
.search-forms #tabsBusqueda #btnEliminar,
.search-forms #tabsBusqueda a[href="#OpcAvanced"],
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  color: #333 !important;
}

.search-forms #tabsBusqueda #multiTrayecto:hover, .search-forms #tabsBusqueda #multiTrayecto:focus,
.search-forms #tabsBusqueda #btnEliminar:hover,
.search-forms #tabsBusqueda #btnEliminar:focus,
.search-forms #tabsBusqueda a[href="#OpcAvanced"]:hover,
.search-forms #tabsBusqueda a[href="#OpcAvanced"]:focus,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"]:hover,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"]:focus {
  color: #ff9616 !important;
  text-decoration: none;
}

.search-forms #tabsBusqueda #btnEliminar {
  margin-right: 16px !important;
}

.search-forms #tabsBusqueda a[href="#OpcAvanced"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] i.fa {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-left: 4px;
}

.search-forms .SpaceB, .search-forms #buscadorVueloHotel .trayectoInputsVH > div.col-md-2, .search-forms #buscadorHoteles #opcionesViaje div:nth-child(4n) {
  position: absolute !important;
  top: 0;
  right: 0;
  width: auto;
  padding: 0 !important;
  margin: 0;
}

.search-forms .SpaceB > label, .search-forms #buscadorVueloHotel .trayectoInputsVH > div.col-md-2 > label, .search-forms #buscadorHoteles #opcionesViaje div:nth-child(4n) > label {
  display: none;
}

.search-forms .IfPassContainer {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  color: #333 !important;
}

.search-forms .IfPassContainer:hover {
  color: #8b09df !important;
}

.search-forms .IfPassContainer .IfPassInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px 0 4px;
}

.search-forms .IfPassContainer .IfPassInfo .IfPassCantInfo {
  padding: 0 4px !important;
  font-size: 14px;
  white-space: nowrap;
}

.search-forms .IfPassContainer .IfPassPopover {
  cursor: default;
  overflow: auto;
  position: absolute;
  top: 28px;
  right: 0;
  left: auto;
  padding: 8px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.search-forms .IfPassContainer .IfPassPopover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.search-forms .IfPassContainer .IfPassPopover::-webkit-scrollbar-track {
  background: rgba(224, 224, 224, 0.5);
  border-radius: 10px;
}

.search-forms .IfPassContainer .IfPassPopover::-webkit-scrollbar-thumb {
  background: #ff9616;
  border-radius: 10px;
}

.search-forms .IfPassContainer .IfPassPopover div {
  float: none;
  width: auto;
  padding: 0 !important;
  margin: 0 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms {
  padding: 0;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger {
  float: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 4px !important;
  margin: 0 0 8px !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger label {
  display: block;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .label-Passenger {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 !important;
  font-size: 16px !important;
  color: #333 !important;
  font-weight: normal !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-Passenger {
  cursor: default;
  width: 40px !important;
  padding: 4px !important;
  border: 0 !important;
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: bold;
  text-align: center;
  color: #333 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn {
  display: block;
  width: 36px;
  height: 36px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn {
  position: static;
  width: inherit !important;
  height: inherit !important;
  margin: 0 !important;
  border: 0;
  border-radius: 36px;
  background-color: rgba(139, 9, 223, 0.1);
  background-position: center center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn:hover, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn:focus {
  outline-color: #8b09df;
  background-color: rgba(139, 9, 223, 0.2);
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassContTitleRom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomTitle,
.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .ifPassRemRoom {
  height: 32px;
  float: none;
  padding: 6px 0 !important;
  margin: 0 0 8px 0 !important;
  border-bottom: 1px solid #e0e0e0;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomTitle {
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .ifPassRemRoom {
  color: #ff9616 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .ifPassRemRoom:hover {
  color: #3f1893 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomAges .IfPassAgesCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px 4px 12px !important;
  margin-bottom: 4px !important;
  border-radius: 6px;
  background-color: rgba(139, 9, 223, 0.05);
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomAges .IfPassAgesCont select {
  width: 88px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px !important;
  line-height: 1.2em;
  font-size: 13px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close {
  position: static;
  opacity: 1 !important;
  background-size: 18px 18px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close span {
  display: none;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 8px !important;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAplicar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 36px;
  margin: 0;
  color: #fff !important;
  border-radius: 6px !important;
  background: #3f1893 !important;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAplicar:hover {
  background: #ff9616 !important;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAddRoom {
  cursor: pointer !important;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: static;
  top: auto;
  left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 36px;
  margin: 0 0 8px !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: normal !important;
  border-radius: 6px;
  background-color: rgba(224, 224, 224, 0.5);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAddRoom:hover {
  background: #e0e0e0;
}

.search-forms #divOwRt .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
  width: auto;
  margin-bottom: 16px;
}

.search-forms #divOwRt .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: auto;
  padding: 0;
  padding-right: 8px;
}

.search-forms #divOwRt .container > div:last-child {
  padding-right: 0;
}

.search-forms #divOwRt .container > div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.search-forms #divOwRt .container > div label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  padding: 6px 16px;
  margin: 0;
  border-radius: 48px;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  color: #3f1893 !important;
  background-color: rgba(63, 24, 147, 0.05);
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

@media only screen and (min-width: 600px) {
  .search-forms #divOwRt .container > div label:hover, .search-forms #divOwRt .container > div label:focus {
    color: #fff !important;
    background-color: #3f1893;
  }
}

.search-forms #divOwRt .container > div input:checked + label {
  color: #fff !important;
  padding-left: 36px;
  background-color: #3f1893;
  background-size: 18px 18px;
  background-position: 12px center;
}

@media only screen and (max-width: 991px) {
  .search-forms #divOwRt .container > div input:checked + label {
    padding-left: 16px;
    background-image: none !important;
  }
}

.search-forms #tabsBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-forms #tabsBusqueda ul#tabsHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin: 0 40px 16px;
  border-bottom: 1px solid #e0e0e0;
  overflow: visible;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal {
    margin: 0 16px 16px;
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px !important;
  width: auto;
  padding: 0;
  margin: 0 24px -1px;
  border-bottom: 2px solid transparent;
  background: none !important;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal > li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li.active, .search-forms #tabsBusqueda ul#tabsHorizontal > li:hover, .search-forms #tabsBusqueda ul#tabsHorizontal > li:focus {
  background: none !important;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li.active > a, .search-forms #tabsBusqueda ul#tabsHorizontal > li:hover > a, .search-forms #tabsBusqueda ul#tabsHorizontal > li:focus > a {
  -webkit-filter: none !important;
          filter: none !important;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li.active {
  border-bottom-color: #ff9616;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  color: #3f1893;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal > li > a {
    -webkit-filter: invert(25%) sepia() saturate(10000%) hue-rotate(-117deg) brightness(0.5);
            filter: invert(25%) sepia() saturate(10000%) hue-rotate(-117deg) brightness(0.5);
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a:hover, .search-forms #tabsBusqueda ul#tabsHorizontal > li > a:focus {
  color: #ff9616;
  text-decoration: none;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a > i {
  display: block;
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin: 0;
  margin-right: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal > li > a > i {
    margin-right: 0;
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a > p.textos_Buscador {
  padding: 0;
  margin: 0;
  color: inherit !important;
  white-space: nowrap;
}

.search-forms #tabsBusqueda #tabContainer {
  position: relative;
  padding: 0 !important;
  margin: 0 40px 32px;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda #tabContainer {
    margin: 0 16px 16px;
  }
}

.search-forms #tabsBusqueda #tabContainer .espacioinvisible40,
.search-forms #tabsBusqueda #tabContainer .espacioinvisible {
  display: none;
}

.search-forms #buscadorVuelos #opcionesViaje {
  position: relative;
}

.search-forms #buscadorVuelos #journeys {
  position: relative;
  float: none;
  width: auto;
  padding: 0;
}

@media only screen and (max-width: 599px) {
  .search-forms #buscadorVuelos #journeys {
    margin-top: 56px !important;
  }
}

.search-forms #buscadorVuelos #titleTramo1 {
  display: none !important;
}

.search-forms #buscadorVuelos .trayectoInputs {
  margin-bottom: 16px;
}

.search-forms #buscadorVuelos .trayectoInputs > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVuelos .trayectoInputs > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search-forms #buscadorVuelos .trayectoInputs > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.search-forms #buscadorVuelos .vuelos-group-field {
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVuelos .SpaceB, .search-forms #buscadorVuelos #buscadorVueloHotel .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVueloHotel #buscadorVuelos .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVuelos #buscadorHoteles #opcionesViaje div:nth-child(4n), .search-forms #buscadorHoteles #opcionesViaje #buscadorVuelos div:nth-child(4n) {
    top: 0px !important;
  }
}

@media only screen and (max-width: 599px) {
  .search-forms #buscadorVuelos .SpaceB, .search-forms #buscadorVuelos #buscadorVueloHotel .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVueloHotel #buscadorVuelos .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVuelos #buscadorHoteles #opcionesViaje div:nth-child(4n), .search-forms #buscadorHoteles #opcionesViaje #buscadorVuelos div:nth-child(4n) {
    top: 48px !important;
  }
}

.search-forms #buscadorVuelos #pasajeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 12px;
}

.search-forms #buscadorVuelos #pasajeros label {
  display: block;
  margin: 0;
  padding: 4px 0;
}

.search-forms #buscadorVuelos #pasajeros .nuevo-tramo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-forms #buscadorVuelos #pasajeros .nuevo-tramo label:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.search-forms #buscadorVuelos #pasajeros #multiTrayecto,
.search-forms #buscadorVuelos #pasajeros #btnEliminar,
.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  color: #333 !important;
}

.search-forms #buscadorVuelos #pasajeros #multiTrayecto:hover, .search-forms #buscadorVuelos #pasajeros #multiTrayecto:focus,
.search-forms #buscadorVuelos #pasajeros #btnEliminar:hover,
.search-forms #buscadorVuelos #pasajeros #btnEliminar:focus,
.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"]:hover,
.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"]:focus {
  color: #ff9616 !important;
  text-decoration: none;
}

.search-forms #buscadorVuelos #pasajeros #btnEliminar {
  margin-right: 16px !important;
}

.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"] i.fa {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-left: 4px;
}

.search-forms #buscadorVuelos #OpcAvanced {
  overflow: hidden;
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
  margin: 0 !important;
  height: auto !important;
  -webkit-transition: none;
  transition: none;
}

.search-forms #buscadorVuelos #OpcAvanced.in, .search-forms #buscadorVuelos #OpcAvanced.collapsing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  height: auto !important;
}

.search-forms #buscadorVuelos #OpcAvanced label {
  display: block;
}

.search-forms #buscadorVuelos .form-submit {
  margin-top: -40px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVuelos .form-submit {
    margin-top: 0 !important;
  }
}

.search-forms #buscadorVuelos .collapse.in + .form-submit,
.search-forms #buscadorVuelos .collapsing + .form-submit {
  margin-top: 16px;
}

.search-forms #buscadorVueloHotel .trayectoInputsVH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding-top: 46px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel .trayectoInputsVH {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search-forms #buscadorVueloHotel .trayectoInputsVH > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  /** TODO: agregar clase .SpaceB */
}

.search-forms #buscadorVueloHotel #opcionesViaje > div.col-md-12 {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.search-forms #buscadorVueloHotel #opcionesViaje > div.col-md-12 label {
  display: block;
  cursor: pointer;
}

.search-forms #buscadorVueloHotel #OpcAvancedVH {
  display: none;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  margin-top: 0 !important;
  height: auto !important;
  -webkit-transition: none;
  transition: none;
}

.search-forms #buscadorVueloHotel #OpcAvancedVH.in, .search-forms #buscadorVueloHotel #OpcAvancedVH.collapsing {
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel #OpcAvancedVH.in, .search-forms #buscadorVueloHotel #OpcAvancedVH.collapsing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"] {
  padding: 8px 0 48px !important;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"] {
    padding: 0 !important;
  }
}

.search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"].col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 32px !important;
  padding-left: 8px !important;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"].col-xs-12 {
    padding: 0 0 16px !important;
  }
}

.search-forms #buscadorVueloHotel .form-submit {
  margin-top: -28px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel .form-submit {
    margin-top: 0 !important;
  }
}

.search-forms #buscadorHoteles #opcionesViaje {
  position: relative;
  padding-top: 46px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorHoteles #opcionesViaje {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search-forms #buscadorHoteles #opcionesViaje div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.search-forms #buscadorHoteles #opcionesViaje div:first-child {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorHoteles #opcionesViaje div:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorAutos {
  margin: 0;
}

.search-forms #buscadorAutos #opcionesViaje {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 20px;
}

.search-forms #buscadorAutos #opcionesViaje label {
  display: block;
}

.search-forms #buscadorAutos #opcionesViaje > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 100px;
}

.search-forms #buscadorAutos #opcionesViaje > div.col-md-3, .search-forms #buscadorAutos #opcionesViaje > div.col-sm-3 {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorAutos #opcionesViaje > div.col-md-3, .search-forms #buscadorAutos #opcionesViaje > div.col-sm-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorAutos #opcionesViaje > div.col-sm-2 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  min-width: 100px;
}

.search-forms #buscadorSeguros {
  margin: 0;
}

.search-forms #buscadorSeguros #opcionesViaje {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 20px;
}

.search-forms #buscadorSeguros #opcionesViaje label {
  display: block;
}

.search-forms #buscadorSeguros #opcionesViaje > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 140px;
}

.search-forms #buscadorSeguros #opcionesViaje > div.clearfix {
  display: none;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-md-3, .search-forms #buscadorSeguros #opcionesViaje > div.col-sm-3 {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorSeguros #opcionesViaje > div.col-md-3, .search-forms #buscadorSeguros #opcionesViaje > div.col-sm-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-sm-2 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  min-width: 100px;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 br {
  display: none;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 label {
  width: 100%;
  padding: 0;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position: 12px center;
  min-width: 80px;
  margin: 0 !important;
}

.search-forms #buscadorSeguros #opcionesViaje .label_dias-assitencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border: 0;
  border-radius: 8px;
  margin: 0 !important;
  background-color: rgba(224, 224, 224, 0.35);
}

.ui-menu.ui-autocomplete {
  padding: 4px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.ui-menu.ui-autocomplete::-webkit-scrollbar {
  width: 4px;
}

.ui-menu.ui-autocomplete::-webkit-scrollbar-track {
  background: rgba(224, 224, 224, 0.5);
  border-radius: 10px;
}

.ui-menu.ui-autocomplete::-webkit-scrollbar-thumb {
  background: #ff9616;
  border-radius: 10px;
}

.ui-menu.ui-autocomplete .ui-menu-item {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  border: 0;
  color: #333 !important;
  border-radius: 4px;
  line-height: 1.2em;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover, .ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  border: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  color: #3f1893 !important;
  background: rgba(139, 9, 223, 0.05) !important;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fa,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fas,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .sboxIcon {
  margin-right: 8px;
  font-size: 18px;
  color: inherit;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fa.fa-plane,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fas.fa-plane,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .sboxIcon.fa-plane {
  color: #8b09df;
}
