/**
  Theme Name: daleviaje new styles
  Author: Erick Alexander Flores Barneond
  Contact: ealexanderflores89@gmail.com
  Version: 1.0
*/
.dvForm {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 32px 24px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 991px) {
  .dvForm {
    padding: 24px 16px;
  }
}

.dvForm * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dvForm-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.dvForm-title, .dvForm-legend {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
  color: #4a4a4a;
}

.dvForm-header .dvForm-title, .dvForm-header .dvForm-legend {
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .dvForm-title, .dvForm-legend {
    font-size: 16px;
  }
}

.dvForm-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: normal;
}

@media only screen and (max-width: 991px) {
  .dvForm-legend {
    font-size: 16px;
  }
}

.dvForm-legend::before {
  content: '';
  min-width: 12px;
  display: inline-block;
  border-bottom: 1px solid #ff9616;
  margin-right: 8px;
}

.dvForm-legend::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
  border-bottom: 1px solid #ff9616;
  margin-left: 8px;
}

.dvForm-group {
  margin-top: 24px;
}

.dvForm-row {
  margin-left: -8px;
  margin-right: -8px;
}

.dvForm-row:last-child {
  margin-bottom: -24px;
}

.dvForm-label {
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1em;
  white-space: nowrap;
}

.dvForm-label.required::after {
  content: '*';
  display: inline-block;
  margin-left: 4px;
  color: #ff9616;
}

.dvForm-label-placeholder {
  display: block;
  margin-bottom: 8px;
  height: 14px;
}

.dvForm-label-placeholder::before {
  content: "placeholder";
  display: inline-block;
  opacity: 0;
}

@media only screen and (max-width: 991px) {
  .dvForm-label-placeholder {
    display: none;
  }
}

.dvForm .form-field {
  margin-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

@media only screen and (max-width: 991px) {
  .dvForm .form-field {
    margin-bottom: 16px;
  }
}

.dvForm .form-field .form-field {
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .dvForm .form-field .form-field {
    margin-bottom: 16px;
  }
}

.dvForm .form-field .field-input,
.dvForm .form-field select {
  width: 100%;
  height: 54px;
  padding: 16px 14px;
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #4a4a4a !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.dvForm .form-field .field-input::-webkit-input-placeholder,
.dvForm .form-field select::-webkit-input-placeholder {
  color: #b1b1b1;
}

.dvForm .form-field .field-input:-ms-input-placeholder,
.dvForm .form-field select:-ms-input-placeholder {
  color: #b1b1b1;
}

.dvForm .form-field .field-input::-ms-input-placeholder,
.dvForm .form-field select::-ms-input-placeholder {
  color: #b1b1b1;
}

.dvForm .form-field .field-input::placeholder,
.dvForm .form-field select::placeholder {
  color: #b1b1b1;
}

.dvForm .form-field .field-input:hover,
.dvForm .form-field select:hover {
  border-color: #bababa !important;
}

.dvForm .form-field .field-input:focus,
.dvForm .form-field select:focus {
  border-color: #ff9616 !important;
  outline: 1px solid #ff9616;
}

.dvForm .form-field select {
  background-position: right 16px center !important;
}

.dvForm .form-field .help-block {
  padding-top: 4px;
  margin: 0;
  margin-bottom: -4px;
}

.dvForm .form-field .help-block.with-errors {
  color: #ff1221;
}

.dvForm .form-field #banklogo,
.dvForm .form-field .card-image {
  position: absolute;
  right: 8px;
  height: 39px;
  width: 39px;
  margin: 8px;
}

.dvForm .form-field #banklogo img,
.dvForm .form-field .card-image img {
  max-width: 100%;
}

.dvForm .form-field .card-image {
  width: 48px;
  margin: 12px;
}

.dvForm-bi {
  padding: 0 24px 24px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 24px;
  margin-left: -24px;
  margin-right: -24px;
}

.dvForm-dues {
  padding: 12px;
  margin: 24px 0 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.dvForm-advice {
  padding: 0 16%;
  margin: 8px 0;
  font-size: 14px;
  text-align: center;
  color: #666;
}

.dvForm-advice.full {
  padding: 0;
}

.dvForm-advice:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .dvForm-advice {
    padding: 0;
  }
}

.dvForm-middleText {
  float: left;
  padding: 40px 4px;
  font-size: 14px;
  font-weight: 600;
}

.dvTabs {
  margin-bottom: 24px;
}

.dvForm .dvTabs {
  margin: -32px -24px 24px;
}

@media only screen and (max-width: 991px) {
  .dvForm .dvTabs {
    margin: -24px -16px 16px;
  }
}

.dvTabs ul.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

.dvTabs ul.nav-tabs > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}

.dvTabs ul.nav-tabs > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0;
  border: 0;
  border-right: 1px solid #e0e0e0;
  border-radius: 0 !important;
  margin: 0;
  font-size: 16px !important;
  font-weight: normal;
  text-transform: uppercase;
  color: #4a4a4a;
}

.dvTabs ul.nav-tabs > li > a img {
  height: 32px;
}

.dvTabs ul.nav-tabs > li > a span {
  display: block;
  margin-right: 4px;
}

@media only screen and (max-width: 991px) {
  .dvTabs ul.nav-tabs > li > a span {
    display: none;
  }
}

.dvTabs ul.nav-tabs > li > a:hover {
  border-right-color: #ff9616;
  font-size: 16px !important;
  color: #fff;
  background-color: #ff9616;
}

.dvTabs ul.nav-tabs > li:first-child a {
  border-top-left-radius: 4px !important;
}

.dvTabs ul.nav-tabs > li:last-child a {
  border-right: 0;
  border-top-right-radius: 4px !important;
}

.dvTabs ul.nav-tabs > li.active a {
  border-right-color: #3f1893;
  color: #fff !important;
  font-weight: 600;
}

.dvPriceResume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px 24px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 24px;
  clear: both;
}

.dvForm .dvPriceResume {
  margin-left: -24px;
  margin-right: -24px;
}

@media only screen and (max-width: 991px) {
  .dvForm .dvPriceResume {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.dvPriceResume-table {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
  margin: -8px 0;
}

.dvPriceResume-table td {
  padding: 6px;
  vertical-align: middle;
}

.dvPriceResume-row {
  font-size: 16px;
  font-weight: normal;
  color: #4a4a4a;
  line-height: 1em;
}

.dvPriceResume-row.total {
  font-weight: 600;
}

.dvPriceResume-row.subTotal {
  color: #666;
}

.dvPriceResume-row.grandTotal {
  font-size: 22px;
  font-weight: 700;
}

.dvPriceResume-currency {
  text-align: right;
}

.dvPriceResume-gtq {
  font-size: 16px;
  font-weight: 600;
  color: #3f1893;
}

.dvCards ul.card_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dvCards ul.card_logos li {
  position: relative;
  margin-left: 8px;
}

.dvCards ul.card_logos li input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.dvCards ul.card_logos li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding: 8px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: 1px solid #fff;
  -webkit-transition: border-color 0.2s ease-in-out, outline-color 0.3s ease-in-out;
  transition: border-color 0.2s ease-in-out, outline-color 0.3s ease-in-out;
}

.dvCards ul.card_logos li label div {
  display: block;
  margin: 0;
}

.dvCards ul.card_logos li input:checked + label {
  border-color: #ff9616;
  outline-color: #ff9616;
}

.dvButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  padding: 16px 24px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  white-space: nowrap;
  color: #fff;
  background-color: #ff9616;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.dvButton:hover, .dvButton:active, .dvButton:focus {
  color: #fff;
  background-color: #3f1893;
  text-decoration: none;
}

.dvButton-dark:hover {
  color: #ff9616;
  background: #fff;
}

.dvButton-outlined {
  border: 2px solid #ff9616;
  color: #3f1893;
  background-color: #fff;
}

.dvButton-outlined:hover, .dvButton-outlined:active, .dvButton-outlined:focus {
  color: #fff;
  background-color: #ff9616;
}

.dvButton-rounded {
  border-radius: 100px;
}

.dvButton-full {
  width: 100%;
}

.dvButton-xsmall {
  font-size: 13px;
  height: 32px;
  padding: 6px 12px;
}

.dvButton .icon,
.dvButton .fas,
.dvButton i,
.dvButton svg,
.dvButton img {
  margin: 8;
}

.dvButton .icon:first-child,
.dvButton .fas:first-child,
.dvButton i:first-child,
.dvButton svg:first-child,
.dvButton img:first-child {
  margin-right: 8px;
}

.dvButton .icon:last-child,
.dvButton .fas:last-child,
.dvButton i:last-child,
.dvButton svg:last-child,
.dvButton img:last-child {
  margin-left: 8px;
}

.dvButton img {
  height: 24px;
  width: auto;
}

@media only screen and (min-width: 992px) {
  .dvButton .hide-on-tablet-up {
    display: none;
  }
}

.dvButton-container {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dvButton--BiPuntos {
  border-radius: 32px 4px 32px 4px;
  background-color: #003865;
  color: #fff;
}

.dvButton--BiPuntos span {
  display: inline-block;
  margin: 0 4px;
  color: #FEC104;
}

.dvButton--BiPuntos img {
  height: 28px;
  margin-left: 16px !important;
}

.dvSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
}

@media only screen and (max-width: 991px) {
  .dvSubmit {
    display: block;
  }
}

.dvSubmit > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.dvSubmit-checkbox {
  padding: 4px;
  margin: 2px 0;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.dvSubmit-checkbox:last-child {
  margin-bottom: 0;
}

.dvSubmit-checkbox a {
  color: #ff9616;
}

.dvSubmit-checkbox a:hover {
  text-decoration: underline;
}

.dvBanks {
  padding: 0 24px 24px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 24px;
}

.dvForm .dvBanks {
  margin-left: -24px;
  margin-right: -24px;
}

@media only screen and (max-width: 991px) {
  .dvForm .dvBanks {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.dvBanks-title {
  margin: 0 0 16px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #3f1893;
}

.dvBanks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 16px 0;
}

.dvBanks-list img {
  width: 64px;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .dvBanks-list img {
    width: 32px;
  }
}

.dvCoupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border-radius: 6px;
  background: #3f1893;
}

@media only screen and (max-width: 991px) {
  .dvCoupon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dvCoupon-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .dvCoupon-message {
    max-width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
}

.dvCoupon-message img {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 8px;
}

.dvCoupon-message p {
  margin: 0;
  line-height: 1.3em;
}

.dvCoupon-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 8px;
}

@media only screen and (max-width: 991px) {
  .dvCoupon-form {
    width: 100%;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dvCoupon-form .form-field {
  padding: 0;
  padding-right: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 160px;
}

@media only screen and (max-width: 991px) {
  .dvCoupon-form .form-field {
    padding: 0;
    margin-bottom: 12px !important;
  }
}

.dvCoupon-form .field-input,
.dvCoupon-form select {
  width: 100%;
  height: 54px;
  padding: 16px 14px;
  border: 0 !important;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #4a4a4a !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.dvCoupon-form .field-input::-webkit-input-placeholder,
.dvCoupon-form select::-webkit-input-placeholder {
  color: #b1b1b1;
}

.dvCoupon-form .field-input:-ms-input-placeholder,
.dvCoupon-form select:-ms-input-placeholder {
  color: #b1b1b1;
}

.dvCoupon-form .field-input::-ms-input-placeholder,
.dvCoupon-form select::-ms-input-placeholder {
  color: #b1b1b1;
}

.dvCoupon-form .field-input::placeholder,
.dvCoupon-form select::placeholder {
  color: #b1b1b1;
}

.dvCoupon-form .field-input:hover,
.dvCoupon-form select:hover {
  border-color: #bababa !important;
}

.dvCoupon-form .field-input:focus,
.dvCoupon-form select:focus {
  border-color: #ff9616 !important;
  outline: 1px solid #ff9616;
}

.dvCoupon-form select {
  background-position: right 16px center !important;
}

.dvCoupon-form .help-block {
  padding-top: 4px;
  margin: 0;
  margin-bottom: -4px;
}

.dvCoupon-form .help-block.with-errors {
  color: #ff1221;
}

.dvCoupon-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  margin: 12px 0;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .dvCoupon-vertical {
    padding: 16px;
  }
}

.dvCoupon-vertical .dvCoupon-message {
  max-width: 100%;
  margin-bottom: 16px;
}

.dvCoupon-vertical .dvCoupon-form {
  margin: 0;
  width: 100%;
}

.dv-bar-purple {
  float: none;
}

.dvMainBanner {
  margin-bottom: 48px;
}

.dvMainBanner img {
  min-width: 100%;
  max-width: 100%;
}

.dvLanding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding: 48px 32px;
  background-color: #fff;
}

.dvLanding::before, .dvLanding::after {
  display: none;
}

@media only screen and (max-width: 991px) {
  .dvLanding {
    gap: 40px;
  }
}

.dvLanding-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.dvLanding-row .dvLanding-item {
  -ms-flex-preferred-size: calc(33.33% - 80px);
      flex-basis: calc(33.33% - 80px);
}

@media only screen and (max-width: 991px) {
  .dvLanding-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dvLanding-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dvLanding-item--link {
  display: block;
}

.dvLanding-item--link:hover {
  text-decoration: none;
}

.dvLanding-item--img {
  position: relative;
  top: 0;
  display: block;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  border-radius: 8px;
  -webkit-transition: top 0.2s, -webkit-box-shadow 0.2s;
  transition: top 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, top 0.2s;
  transition: box-shadow 0.2s, top 0.2s, -webkit-box-shadow 0.2s;
  -o-object-fit: cover;
     object-fit: cover;
}

a:hover .dvLanding-item--img {
  top: -4px;
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.04), 0px 16px 16px rgba(0, 0, 0, 0.06), 0px 8px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.04), 0px 16px 16px rgba(0, 0, 0, 0.06), 0px 8px 8px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 1023px) {
  .dvLanding-item--img {
    min-height: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .dvLanding-item--img {
    min-height: auto;
  }
}

.dvLanding-item--title {
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
  margin: 18px 0 8px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover .dvLanding-item--title {
  color: #ff9616;
}

.dvLanding-item--desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.dvLanding-item--desc:last-child {
  margin-bottom: 0;
}

.landing_BI .logo_BI {
  text-align: right;
}

.landing_BI .logo_BI img {
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
}

.landing_BI .dv-bar-purple {
  background: #003057;
}

.landing_BI .dvMainBanner {
  background: #003865;
}

/**
  Theme Name: daleviaje new styles for home search
  Author: Erick Alexander Flores Barneond
  Contact: ealexanderflores89@gmail.com
  Version: 1.0
*/
.search-forms {
  min-height: auto;
  padding: 80px 16px 80px;
}

@media only screen and (max-width: 991px) {
  .search-forms {
    padding: 48px 12px 16px;
  }
}

.search-forms > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-forms > .row {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
}

.search-forms > .row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-forms > .container {
  padding: 0;
}

.search-forms > .container #BuscadorPrincipalIndex {
  margin-top: 0 !important;
}

.search-forms .fluid-columns div[class*="col-"], .search-forms .fluid-full-columns div[class*="col-"], .search-forms #buscadorVuelos .trayectoInputs > div div[class*="col-"], .search-forms #buscadorVuelos #OpcAvanced div[class*="col-"], .search-forms #buscadorVueloHotel .trayectoInputsVH div[class*="col-"], .search-forms #buscadorVueloHotel #OpcAvancedVH div[class*="col-"], .search-forms #buscadorVuelos #pasajeros div[class*="col-"], .search-forms #buscadorHoteles #opcionesViaje div[class*="col-"], .search-forms #buscadorAutos #opcionesViaje div[class*="col-"], .search-forms #buscadorSeguros #opcionesViaje div[class*="col-"] {
  float: none;
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
}

.search-forms .fluid-full-columns div[class*="col-"], .search-forms #buscadorVuelos .trayectoInputs > div div[class*="col-"], .search-forms #buscadorVuelos #OpcAvanced div[class*="col-"], .search-forms #buscadorVueloHotel .trayectoInputsVH div[class*="col-"], .search-forms #buscadorVueloHotel #OpcAvancedVH div[class*="col-"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.search-forms .remove-clearfix::before, .search-forms #buscadorVuelos .trayectoInputs > div::before, .search-forms #buscadorVuelos #pasajeros::before, .search-forms #buscadorVuelos #OpcAvanced::before, .search-forms #buscadorVueloHotel #OpcAvancedVH::before, .search-forms .remove-clearfix::after, .search-forms #buscadorVuelos .trayectoInputs > div::after, .search-forms #buscadorVuelos #pasajeros::after, .search-forms #buscadorVuelos #OpcAvanced::after, .search-forms #buscadorVueloHotel #OpcAvancedVH::after {
  display: none;
}

.search-forms .custom-icon, .search-forms .icon-arrow-drop-down, .search-forms .tab-content select,
.search-forms .tab-content #selClase, .search-forms .IfPassContainer .IfPassInfo, .search-forms .icon-location-pin__purple, .search-forms .tab-content .glyphicon.glyphicon-map-marker, .search-forms .tab-content .glyphicon.glyphicon-globe, .search-forms .tab-content .glyphicon.glyphicon-remove, .search-forms .tab-content #fromInsurance, .search-forms .icon-date-range__purple, .search-forms .tab-content input.datepicker,
.search-forms .tab-content input#dateJourney_back, .search-forms .icon-user__purple, .search-forms .IfPassContainer .IfPassInfo .fa-user, .search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 input[type="text"], .search-forms .icon-airplane__purple, .search-forms .tab-content #txtAerolinea,
.search-forms .tab-content #txtAerolineaVH, .search-forms .icon-add__orange, .search-forms #tabsBusqueda .fa.fa-plus, .search-forms #buscadorVuelos #pasajeros .fa.fa-plus, .search-forms .icon-remove__orange, .search-forms #tabsBusqueda .fa.fa-times, .search-forms #buscadorVuelos #pasajeros .fa.fa-times, .search-forms .icon-add__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn.glyphicon-plus, .search-forms .icon-remove__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn, .search-forms .icon-check__white, .search-forms #divOwRt .container > div input:checked + label {
  background-repeat: no-repeat !important;
}

.search-forms .replace-icon, .search-forms .tab-content .glyphicon, .search-forms #tabsBusqueda .fa, .search-forms #tabsBusqueda a[href="#OpcAvanced"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] i.fa, .search-forms .IfPassContainer .IfPassInfo .fa-user, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn, .search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close, .search-forms #buscadorVuelos #pasajeros .fa {
  color: rgba(0, 0, 0, 0) !important;
  width: 24px;
  height: 24px;
  background-position: center center;
}

.search-forms .icon-arrow-drop-down, .search-forms .tab-content select,
.search-forms .tab-content #selClase, .search-forms .IfPassContainer .IfPassInfo {
  background-image: url("../img/icons/arrow-drop-down.svg") !important;
  background-position: right center !important;
}

.search-forms .icon-arrow-up, .search-forms #tabsBusqueda a[href="#OpcAvanced"][aria-expanded="true"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"][aria-expanded="true"] i.fa, .search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"][aria-expanded="true"] i.fa {
  background-image: url("../img/icons/arrow-up.svg") !important;
}

.search-forms .icon-arrow-down, .search-forms #tabsBusqueda a[href="#OpcAvanced"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] i.fa, .search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"] i.fa {
  background-image: url("../img/icons/arrow-down.svg") !important;
}

.search-forms .icon-close, .search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close {
  background-image: url("../img/icons/close.svg") !important;
}

.search-forms .icon-location-pin__purple, .search-forms .tab-content .glyphicon.glyphicon-map-marker, .search-forms .tab-content .glyphicon.glyphicon-globe, .search-forms .tab-content .glyphicon.glyphicon-remove, .search-forms .tab-content #fromInsurance {
  background-image: url("../img/icons/location-pin_purple.svg") !important;
}

.search-forms .icon-date-range__purple, .search-forms .tab-content input.datepicker,
.search-forms .tab-content input#dateJourney_back {
  background-image: url("../img/icons/date-range_purple.svg") !important;
}

.search-forms .icon-user__purple, .search-forms .IfPassContainer .IfPassInfo .fa-user, .search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 input[type="text"] {
  background-image: url("../img/icons/user_purple.svg") !important;
}

.search-forms .icon-airplane__purple, .search-forms .tab-content #txtAerolinea,
.search-forms .tab-content #txtAerolineaVH {
  background-image: url("../img/icons/airplane_purple.svg") !important;
}

.search-forms .icon-add__orange, .search-forms #tabsBusqueda .fa.fa-plus, .search-forms #buscadorVuelos #pasajeros .fa.fa-plus {
  background-image: url("../img/icons/add_orange.svg") !important;
}

.search-forms .icon-remove__orange, .search-forms #tabsBusqueda .fa.fa-times, .search-forms #buscadorVuelos #pasajeros .fa.fa-times {
  background-image: url("../img/icons/remove_orange.svg") !important;
}

.search-forms .icon-add__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn.glyphicon-plus {
  background-image: url("../img/icons/add_primary.svg") !important;
}

.search-forms .icon-remove__primary, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn {
  background-image: url("../img/icons/remove_primary.svg") !important;
}

.search-forms .icon-check__white, .search-forms #divOwRt .container > div input:checked + label {
  background-image: url("../img/icons/check_white.svg") !important;
}

.search-forms .tab-content input[type="text"],
.search-forms .tab-content select {
  width: 100%;
  height: 48px;
  padding: 16px 0 16px 42px;
  border: 1px solid #e0e0e0 !important;
  border-radius: 6px !important;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333 !important;
  -webkit-transition: border-color 0.1s;
  transition: border-color 0.1s;
  background-color: #fff !important;
}

.search-forms .tab-content input[type="text"]::-webkit-input-placeholder,
.search-forms .tab-content select::-webkit-input-placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]:-ms-input-placeholder,
.search-forms .tab-content select:-ms-input-placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]::-ms-input-placeholder,
.search-forms .tab-content select::-ms-input-placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]::placeholder,
.search-forms .tab-content select::placeholder {
  color: #b1b1b1;
}

.search-forms .tab-content input[type="text"]:hover,
.search-forms .tab-content select:hover {
  border-color: #bababa !important;
}

.search-forms .tab-content input[type="text"]:focus,
.search-forms .tab-content select:focus {
  border-color: #ff9616 !important;
}

.search-forms .tab-content select,
.search-forms .tab-content #selClase {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 28px 8px 12px;
  background-position: right 8px center !important;
  background-color: #fff !important;
}

.search-forms .tab-content select::-ms-expand,
.search-forms .tab-content #selClase::-ms-expand {
  display: none;
}

.search-forms .tab-content .glyphicon {
  position: absolute;
  right: auto !important;
  left: 10px;
  top: auto !important;
  bottom: 12px !important;
}

.search-forms .tab-content #fromInsurance {
  background-position: 12px center;
}

.search-forms .tab-content input.datepicker,
.search-forms .tab-content input#dateJourney_back {
  background-position: 10px 12px !important;
}

.search-forms .tab-content #txtAerolinea,
.search-forms .tab-content #txtAerolineaVH {
  background-position: 10px 12px !important;
}

.search-forms .tab-content label {
  display: none;
  font-size: 14px;
  margin: 0;
  padding: 4px 0;
}

.search-forms .tab-content .btnbuscadorprincial {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 8px 72px;
  margin: 0 !important;
  font-size: 16px;
  background-color: #ff9616;
  border-radius: 48px;
}

.search-forms .tab-content .btnbuscadorprincial:hover {
  background-color: #3f1893;
}

@media only screen and (max-width: 991px) {
  .search-forms .tab-content .btnbuscadorprincial {
    width: 100%;
  }
}

.search-forms .tab-content .form-submit {
  margin: 0;
}

.search-forms .tab-content .form-submit .clear {
  height: 0;
}

.search-forms #tabsBusqueda #multiTrayecto,
.search-forms #tabsBusqueda #btnEliminar,
.search-forms #tabsBusqueda a[href="#OpcAvanced"],
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  color: #333 !important;
}

.search-forms #tabsBusqueda #multiTrayecto:hover, .search-forms #tabsBusqueda #multiTrayecto:focus,
.search-forms #tabsBusqueda #btnEliminar:hover,
.search-forms #tabsBusqueda #btnEliminar:focus,
.search-forms #tabsBusqueda a[href="#OpcAvanced"]:hover,
.search-forms #tabsBusqueda a[href="#OpcAvanced"]:focus,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"]:hover,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"]:focus {
  color: #ff9616 !important;
  text-decoration: none;
}

.search-forms #tabsBusqueda #btnEliminar {
  margin-right: 16px !important;
}

.search-forms #tabsBusqueda a[href="#OpcAvanced"] i.fa,
.search-forms #tabsBusqueda a[href="#OpcAvancedVH"] i.fa {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-left: 4px;
}

.search-forms .SpaceB, .search-forms #buscadorVueloHotel .trayectoInputsVH > div.col-md-2, .search-forms #buscadorHoteles #opcionesViaje div:nth-child(4n) {
  position: absolute !important;
  top: 0;
  right: 0;
  width: auto;
  padding: 0 !important;
  margin: 0;
}

.search-forms .SpaceB > label, .search-forms #buscadorVueloHotel .trayectoInputsVH > div.col-md-2 > label, .search-forms #buscadorHoteles #opcionesViaje div:nth-child(4n) > label {
  display: none;
}

.search-forms .IfPassContainer {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  color: #333 !important;
}

.search-forms .IfPassContainer:hover {
  color: #8b09df !important;
}

.search-forms .IfPassContainer .IfPassInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px 0 4px;
}

.search-forms .IfPassContainer .IfPassInfo .IfPassCantInfo {
  padding: 0 4px !important;
  font-size: 14px;
  white-space: nowrap;
}

.search-forms .IfPassContainer .IfPassPopover {
  cursor: default;
  overflow: auto;
  position: absolute;
  top: 28px;
  right: 0;
  left: auto;
  padding: 8px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.search-forms .IfPassContainer .IfPassPopover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.search-forms .IfPassContainer .IfPassPopover::-webkit-scrollbar-track {
  background: rgba(224, 224, 224, 0.5);
  border-radius: 10px;
}

.search-forms .IfPassContainer .IfPassPopover::-webkit-scrollbar-thumb {
  background: #ff9616;
  border-radius: 10px;
}

.search-forms .IfPassContainer .IfPassPopover div {
  float: none;
  width: auto;
  padding: 0 !important;
  margin: 0 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms {
  padding: 0;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger {
  float: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 4px !important;
  margin: 0 0 8px !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger label {
  display: block;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .label-Passenger {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 !important;
  font-size: 16px !important;
  color: #333 !important;
  font-weight: normal !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-Passenger {
  cursor: default;
  width: 40px !important;
  padding: 4px !important;
  border: 0 !important;
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: bold;
  text-align: center;
  color: #333 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn {
  display: block;
  width: 36px;
  height: 36px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn {
  position: static;
  width: inherit !important;
  height: inherit !important;
  margin: 0 !important;
  border: 0;
  border-radius: 36px;
  background-color: rgba(139, 9, 223, 0.1);
  background-position: center center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn:hover, .search-forms .IfPassContainer .IfPassPopover .IfPassRooms .container-Table-Passenger .input-group-btn .btn:focus {
  outline-color: #8b09df;
  background-color: rgba(139, 9, 223, 0.2);
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassContTitleRom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomTitle,
.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .ifPassRemRoom {
  height: 32px;
  float: none;
  padding: 6px 0 !important;
  margin: 0 0 8px 0 !important;
  border-bottom: 1px solid #e0e0e0;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomTitle {
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .ifPassRemRoom {
  color: #ff9616 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .ifPassRemRoom:hover {
  color: #3f1893 !important;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomAges .IfPassAgesCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px 4px 12px !important;
  margin-bottom: 4px !important;
  border-radius: 6px;
  background-color: rgba(139, 9, 223, 0.05);
}

.search-forms .IfPassContainer .IfPassPopover .IfPassRooms .IfPassRoomAges .IfPassAgesCont select {
  width: 88px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px !important;
  line-height: 1.2em;
  font-size: 13px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close {
  position: static;
  opacity: 1 !important;
  background-size: 18px 18px;
}

.search-forms .IfPassContainer .IfPassPopover .IfPassMessageCont button.close span {
  display: none;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 8px !important;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAplicar {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 36px;
  margin: 0;
  color: #fff !important;
  border-radius: 6px !important;
  background: #3f1893 !important;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAplicar:hover {
  background: #ff9616 !important;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAddRoom {
  cursor: pointer !important;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: static;
  top: auto;
  left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 36px;
  margin: 0 0 8px !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: normal !important;
  border-radius: 6px;
  background-color: rgba(224, 224, 224, 0.5);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.search-forms .IfPassContainer .IfPassPopover > div:last-child .ifPassAddRoom:hover {
  background: #e0e0e0;
}

.search-forms #divOwRt .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
  width: auto;
  margin-bottom: 16px;
}

.search-forms #divOwRt .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: auto;
  padding: 0;
  padding-right: 8px;
}

.search-forms #divOwRt .container > div:last-child {
  padding-right: 0;
}

.search-forms #divOwRt .container > div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.search-forms #divOwRt .container > div label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  padding: 6px 16px;
  margin: 0;
  border-radius: 48px;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  color: #3f1893 !important;
  background-color: rgba(63, 24, 147, 0.05);
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

@media only screen and (min-width: 600px) {
  .search-forms #divOwRt .container > div label:hover, .search-forms #divOwRt .container > div label:focus {
    color: #fff !important;
    background-color: #3f1893;
  }
}

.search-forms #divOwRt .container > div input:checked + label {
  color: #fff !important;
  padding-left: 36px;
  background-color: #3f1893;
  background-size: 18px 18px;
  background-position: 12px center;
}

@media only screen and (max-width: 991px) {
  .search-forms #divOwRt .container > div input:checked + label {
    padding-left: 16px;
    background-image: none !important;
  }
}

.search-forms #tabsBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-forms #tabsBusqueda ul#tabsHorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin: 0 40px 16px;
  border-bottom: 1px solid #e0e0e0;
  overflow: visible;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal {
    margin: 0 16px 16px;
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px !important;
  width: auto;
  padding: 0;
  margin: 0 24px -1px;
  border-bottom: 2px solid transparent;
  background: none !important;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal > li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li.active, .search-forms #tabsBusqueda ul#tabsHorizontal > li:hover, .search-forms #tabsBusqueda ul#tabsHorizontal > li:focus {
  background: none !important;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li.active > a, .search-forms #tabsBusqueda ul#tabsHorizontal > li:hover > a, .search-forms #tabsBusqueda ul#tabsHorizontal > li:focus > a {
  -webkit-filter: none !important;
          filter: none !important;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li.active {
  border-bottom-color: #ff9616;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  color: #3f1893;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal > li > a {
    -webkit-filter: invert(25%) sepia() saturate(10000%) hue-rotate(-117deg) brightness(0.5);
            filter: invert(25%) sepia() saturate(10000%) hue-rotate(-117deg) brightness(0.5);
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a:hover, .search-forms #tabsBusqueda ul#tabsHorizontal > li > a:focus {
  color: #ff9616;
  text-decoration: none;
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a > i {
  display: block;
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin: 0;
  margin-right: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda ul#tabsHorizontal > li > a > i {
    margin-right: 0;
  }
}

.search-forms #tabsBusqueda ul#tabsHorizontal > li > a > p.textos_Buscador {
  padding: 0;
  margin: 0;
  color: inherit !important;
  white-space: nowrap;
}

.search-forms #tabsBusqueda #tabContainer {
  position: relative;
  padding: 0 !important;
  margin: 0 40px 32px;
}

@media only screen and (max-width: 991px) {
  .search-forms #tabsBusqueda #tabContainer {
    margin: 0 16px 16px;
  }
}

.search-forms #tabsBusqueda #tabContainer .espacioinvisible40,
.search-forms #tabsBusqueda #tabContainer .espacioinvisible {
  display: none;
}

.search-forms #buscadorVuelos #opcionesViaje {
  position: relative;
}

.search-forms #buscadorVuelos #journeys {
  position: relative;
  float: none;
  width: auto;
  padding: 0;
}

@media only screen and (max-width: 599px) {
  .search-forms #buscadorVuelos #journeys {
    margin-top: 56px !important;
  }
}

.search-forms #buscadorVuelos #titleTramo1 {
  display: none !important;
}

.search-forms #buscadorVuelos .trayectoInputs {
  margin-bottom: 16px;
}

.search-forms #buscadorVuelos .trayectoInputs > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVuelos .trayectoInputs > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search-forms #buscadorVuelos .trayectoInputs > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.search-forms #buscadorVuelos .vuelos-group-field {
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVuelos .SpaceB, .search-forms #buscadorVuelos #buscadorVueloHotel .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVueloHotel #buscadorVuelos .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVuelos #buscadorHoteles #opcionesViaje div:nth-child(4n), .search-forms #buscadorHoteles #opcionesViaje #buscadorVuelos div:nth-child(4n) {
    top: 0px !important;
  }
}

@media only screen and (max-width: 599px) {
  .search-forms #buscadorVuelos .SpaceB, .search-forms #buscadorVuelos #buscadorVueloHotel .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVueloHotel #buscadorVuelos .trayectoInputsVH > div.col-md-2, .search-forms #buscadorVuelos #buscadorHoteles #opcionesViaje div:nth-child(4n), .search-forms #buscadorHoteles #opcionesViaje #buscadorVuelos div:nth-child(4n) {
    top: 48px !important;
  }
}

.search-forms #buscadorVuelos #pasajeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 12px;
}

.search-forms #buscadorVuelos #pasajeros label {
  display: block;
  margin: 0;
  padding: 4px 0;
}

.search-forms #buscadorVuelos #pasajeros .nuevo-tramo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-forms #buscadorVuelos #pasajeros .nuevo-tramo label:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.search-forms #buscadorVuelos #pasajeros #multiTrayecto,
.search-forms #buscadorVuelos #pasajeros #btnEliminar,
.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  color: #333 !important;
}

.search-forms #buscadorVuelos #pasajeros #multiTrayecto:hover, .search-forms #buscadorVuelos #pasajeros #multiTrayecto:focus,
.search-forms #buscadorVuelos #pasajeros #btnEliminar:hover,
.search-forms #buscadorVuelos #pasajeros #btnEliminar:focus,
.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"]:hover,
.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"]:focus {
  color: #ff9616 !important;
  text-decoration: none;
}

.search-forms #buscadorVuelos #pasajeros #btnEliminar {
  margin-right: 16px !important;
}

.search-forms #buscadorVuelos #pasajeros a[href="#OpcAvanced"] i.fa {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-left: 4px;
}

.search-forms #buscadorVuelos #OpcAvanced {
  overflow: hidden;
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
  margin: 0 !important;
  height: auto !important;
  -webkit-transition: none;
  transition: none;
}

.search-forms #buscadorVuelos #OpcAvanced.in, .search-forms #buscadorVuelos #OpcAvanced.collapsing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  height: auto !important;
}

.search-forms #buscadorVuelos #OpcAvanced label {
  display: block;
}

.search-forms #buscadorVuelos .form-submit {
  margin-top: -40px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVuelos .form-submit {
    margin-top: 0 !important;
  }
}

.search-forms #buscadorVuelos .collapse.in + .form-submit,
.search-forms #buscadorVuelos .collapsing + .form-submit {
  margin-top: 16px;
}

.search-forms #buscadorVueloHotel .trayectoInputsVH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding-top: 46px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel .trayectoInputsVH {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search-forms #buscadorVueloHotel .trayectoInputsVH > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  /** TODO: agregar clase .SpaceB */
}

.search-forms #buscadorVueloHotel #opcionesViaje > div.col-md-12 {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.search-forms #buscadorVueloHotel #opcionesViaje > div.col-md-12 label {
  display: block;
  cursor: pointer;
}

.search-forms #buscadorVueloHotel #OpcAvancedVH {
  display: none;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  margin-top: 0 !important;
  height: auto !important;
  -webkit-transition: none;
  transition: none;
}

.search-forms #buscadorVueloHotel #OpcAvancedVH.in, .search-forms #buscadorVueloHotel #OpcAvancedVH.collapsing {
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel #OpcAvancedVH.in, .search-forms #buscadorVueloHotel #OpcAvancedVH.collapsing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"] {
  padding: 8px 0 48px !important;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"] {
    padding: 0 !important;
  }
}

.search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"].col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 32px !important;
  padding-left: 8px !important;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel #OpcAvancedVH > div[class*="col-"].col-xs-12 {
    padding: 0 0 16px !important;
  }
}

.search-forms #buscadorVueloHotel .form-submit {
  margin-top: -28px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorVueloHotel .form-submit {
    margin-top: 0 !important;
  }
}

.search-forms #buscadorHoteles #opcionesViaje {
  position: relative;
  padding-top: 46px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorHoteles #opcionesViaje {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.search-forms #buscadorHoteles #opcionesViaje div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.search-forms #buscadorHoteles #opcionesViaje div:first-child {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorHoteles #opcionesViaje div:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorAutos {
  margin: 0;
}

.search-forms #buscadorAutos #opcionesViaje {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 20px;
}

.search-forms #buscadorAutos #opcionesViaje label {
  display: block;
}

.search-forms #buscadorAutos #opcionesViaje > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 100px;
}

.search-forms #buscadorAutos #opcionesViaje > div.col-md-3, .search-forms #buscadorAutos #opcionesViaje > div.col-sm-3 {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorAutos #opcionesViaje > div.col-md-3, .search-forms #buscadorAutos #opcionesViaje > div.col-sm-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorAutos #opcionesViaje > div.col-sm-2 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  min-width: 100px;
}

.search-forms #buscadorSeguros {
  margin: 0;
}

.search-forms #buscadorSeguros #opcionesViaje {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 20px;
}

.search-forms #buscadorSeguros #opcionesViaje label {
  display: block;
}

.search-forms #buscadorSeguros #opcionesViaje > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 140px;
}

.search-forms #buscadorSeguros #opcionesViaje > div.clearfix {
  display: none;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-md-3, .search-forms #buscadorSeguros #opcionesViaje > div.col-sm-3 {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorSeguros #opcionesViaje > div.col-md-3, .search-forms #buscadorSeguros #opcionesViaje > div.col-sm-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-sm-2 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  min-width: 100px;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

@media only screen and (max-width: 991px) {
  .search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 br {
  display: none;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 label {
  width: 100%;
  padding: 0;
}

.search-forms #buscadorSeguros #opcionesViaje > div.col-lg-10 input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position: 12px center;
  min-width: 80px;
  margin: 0 !important;
}

.search-forms #buscadorSeguros #opcionesViaje .label_dias-assitencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border: 0;
  border-radius: 8px;
  margin: 0 !important;
  background-color: rgba(224, 224, 224, 0.35);
}

.ui-menu.ui-autocomplete {
  padding: 4px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02), 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.ui-menu.ui-autocomplete::-webkit-scrollbar {
  width: 4px;
}

.ui-menu.ui-autocomplete::-webkit-scrollbar-track {
  background: rgba(224, 224, 224, 0.5);
  border-radius: 10px;
}

.ui-menu.ui-autocomplete::-webkit-scrollbar-thumb {
  background: #ff9616;
  border-radius: 10px;
}

.ui-menu.ui-autocomplete .ui-menu-item {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  border: 0;
  color: #333 !important;
  border-radius: 4px;
  line-height: 1.2em;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover, .ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  border: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  color: #3f1893 !important;
  background: rgba(139, 9, 223, 0.05) !important;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fa,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fas,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .sboxIcon {
  margin-right: 8px;
  font-size: 18px;
  color: inherit;
}

.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fa.fa-plane,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .fas.fa-plane,
.ui-menu.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper .sboxIcon.fa-plane {
  color: #8b09df;
}

#header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .container .row::before, #header .container .row::after {
  display: none;
}

#header .container .row > div {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

#header .container .row > div:nth-child(1) {
  width: auto;
  max-width: 240px;
  margin-left: -24px;
}

#header .container .row > div:nth-child(1) a {
  display: block;
}

#header .container .row > div:nth-child(1) img {
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
}

@media only screen and (max-width: 991px) {
  #header .container .row > div:nth-child(1) {
    margin-left: 0;
  }
}

#header .container .row > div.textosNavegacionFondo {
  position: relative;
  z-index: 10;
  min-width: 640px;
  padding: 0;
  margin: 0;
}

#header .container .row > div:nth-child(3), #header .container .row > div.logo_BI {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  width: 120px;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .container .row > div:nth-child(3) img, #header .container .row > div.logo_BI img {
  margin: 0 !important;
}

#header .container .row > div:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  padding: 0;
}

#header .container .row > div .navegacion_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

#header .container .row > div .navegacion_mobile img {
  display: block !important;
  margin: 0 !important;
}

.date-picker-wrapper.two-months {
  width: 486px;
  margin-left: -180px;
  margin-top: -4px;
}

@media only screen and (max-width: 1023px) {
  .date-picker-wrapper.two-months {
    margin-left: -220px;
  }
}

@media only screen and (max-width: 991px) {
  .date-picker-wrapper.two-months {
    left: 50% !important;
    margin-left: -223px;
  }
}

@media only screen and (max-width: 991px) {
  .date-picker-wrapper.single-month {
    margin-top: -4px;
    left: 36px !important;
    right: 36px !important;
  }
  .date-picker-wrapper.single-month .month-wrapper table {
    width: 100%;
  }
}
