#tabsBusqueda {
  .fa {
    @extend .replace-icon;

    &.fa-plus {
      @extend .icon-add__orange;
    }

    &.fa-times {
      @extend .icon-remove__orange;
    }
  }

  #multiTrayecto,
  #btnEliminar,
  a[href="#OpcAvanced"],
  a[href="#OpcAvancedVH"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
    color: getColor("body") !important;

    &:hover,
    &:focus {
      color: getColor("secondary") !important;
      text-decoration: none;
    }
  }

  #btnEliminar {
    margin-right: 16px !important;
  }

  a[href="#OpcAvanced"],
  a[href="#OpcAvancedVH"] {
    i.fa {
      @extend .replace-icon;
      @extend .icon-arrow-down;
      order: 2;
      margin: 0;
      margin-left: 4px;
    }

    &[aria-expanded="true"] {
      i.fa {
        @extend .icon-arrow-up;
      }
    }
  }
}
