#divOwRt {
  .container {
    display: flex;
    align-items: stretch;
    padding: 0;
    width: auto;
    margin-bottom: 16px;

    > div {
      display: flex;
      position: relative;
      width: auto;
      padding: 0;
      padding-right: 8px;

      &:last-child {
        padding-right: 0;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        min-height: 30px;
        padding: 6px 16px;
        margin: 0;
        border-radius: 48px;
        font-size: 14px;
        line-height: 1.2em;
        text-align: center;
        color: getColor("primary") !important;
        background-color: rgba(getColor("primary"), 0.05);
        transition: background-color 0.2s, color 0.2s;

        @include on(phone-up) {
          &:hover,
          &:focus {
            color: getColor("white") !important;
            background-color: getColor("primary");
          }
        }
      }

      input:checked + label {
        @extend .icon-check__white;
        color: getColor("white") !important;
        padding-left: 12px + 24px;
        background-color: getColor("primary");
        background-size: 18px 18px;
        background-position: 12px center;

        @include on(phone) {
          padding-left: 16px;
          background-image: none !important;
        }
      }
    }
  }
}
