// fluid columns
.fluid-columns {
  div[class*="col-"] {
    float: none;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

// fluid full columns
.fluid-full-columns {
  @extend .fluid-columns;
  div[class*="col-"] {
    flex: 1;
    flex-basis: 50%;
  }
}

// remove clearfix
.remove-clearfix {
  &::before,
  &::after {
    display: none;
  }
}
