// helpers
.custom-icon {
  background-repeat: no-repeat !important;
}
.replace-icon {
  color: rgba(0, 0, 0, 0) !important;
  width: 24px;
  height: 24px;
  background-position: center center;
}

// normal icons
.icon-arrow-drop-down {
  @extend .custom-icon;
  background-image: url("../img/icons/arrow-drop-down.svg") !important;
  background-position: right center !important;
}

.icon-arrow-up {
  background-image: url("../img/icons/arrow-up.svg") !important;
}

.icon-arrow-down {
  background-image: url("../img/icons/arrow-down.svg") !important;
}

.icon-close {
  background-image: url("../img/icons/close.svg") !important;
}

// purple icons
.icon-location-pin__purple {
  @extend .custom-icon;
  background-image: url("../img/icons/location-pin_purple.svg") !important;
}

.icon-date-range__purple {
  @extend .custom-icon;
  background-image: url("../img/icons/date-range_purple.svg") !important;
}

.icon-user__purple {
  @extend .custom-icon;
  background-image: url("../img/icons/user_purple.svg") !important;
}

.icon-airplane__purple {
  @extend .custom-icon;
  background-image: url("../img/icons/airplane_purple.svg") !important;
}

// orange icons
.icon-add__orange {
  @extend .custom-icon;
  background-image: url("../img/icons/add_orange.svg") !important;
}

.icon-remove__orange {
  @extend .custom-icon;
  background-image: url("../img/icons/remove_orange.svg") !important;
}

// primary icons
.icon-add__primary {
  @extend .custom-icon;
  background-image: url("../img/icons/add_primary.svg") !important;
}

.icon-remove__primary {
  @extend .custom-icon;
  background-image: url("../img/icons/remove_primary.svg") !important;
}

// white icons
.icon-check__white {
  @extend .custom-icon;
  background-image: url("../img/icons/check_white.svg") !important;
}
