.tab-content {
  input[type="text"],
  select {
    width: 100%;
    height: 48px;
    padding: 16px 0 16px 42px;
    border: 1px solid getColor("border") !important;
    border-radius: 6px !important;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: getColor("body") !important;
    transition: border-color 0.1s;
    background-color: getColor("white") !important;

    &::placeholder {
      color: getColor("placeholder");
    }

    &:hover {
      border-color: darken(getColor("border"), 15%) !important;
    }

    &:focus {
      border-color: getColor("secondary") !important;
    }
  }

  select,
  #selClase {
    @extend .icon-arrow-drop-down;
    appearance: none;
    padding: 8px 28px 8px 12px;
    background-position: right 8px center !important;
    background-color: getColor("white") !important;

    &::-ms-expand {
      display: none;
    }
  }

  // custom icons replacement
  .glyphicon {
    @extend .replace-icon;
    position: absolute;
    right: auto !important;
    left: 10px;
    top: auto !important;
    bottom: 12px !important;

    &.glyphicon-map-marker,
    &.glyphicon-globe,
    &.glyphicon-remove {
      @extend .icon-location-pin__purple;
    }
  }

  #fromInsurance {
    @extend .icon-location-pin__purple;
    background-position: 12px center;
  }

  input.datepicker,
  input#dateJourney_back {
    @extend .icon-date-range__purple;
    background-position: 10px 12px !important;
  }

  #txtAerolinea,
  #txtAerolineaVH {
    @extend .icon-airplane__purple;
    background-position: 10px 12px !important;
  }

  // label
  label {
    display: none;
    font-size: 14px;
    margin: 0;
    padding: 4px 0;
  }

  // search button
  .btnbuscadorprincial {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 8px 72px;
    margin: 0 !important;
    font-size: 16px;
    background-color: getColor("secondary");
    border-radius: 48px;

    &:hover {
      background-color: getColor("primary");
    }

    @include on(phone) {
      width: 100%;
    }
  }

  .form-submit {
    margin: 0;
    .clear {
      height: 0;
    }
  }
}
