.SpaceB {
  position: absolute !important;
  top: 0;
  right: 0;
  width: auto;
  padding: 0 !important;
  margin: 0;

  > label {
    display: none;
  }
}

.IfPassContainer {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  color: getColor("body") !important;

  &:hover {
    color: getColor("purple") !important;
  }

  .IfPassInfo {
    @extend .icon-arrow-drop-down;
    display: flex;
    align-items: center;
    padding: 0 24px 0 4px;

    .fa-user {
      @extend .replace-icon;
      @extend .icon-user__purple;
    }

    .IfPassCantInfo {
      padding: 0 4px !important;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  .IfPassPopover {
    cursor: default;
    overflow: auto;
    position: absolute;
    top: 28px;
    right: 0;
    left: auto;
    padding: 8px;
    border: 4px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04),
      0px 14px 34px rgba(0, 0, 0, 0.02), 0px 12px 22px rgba(0, 0, 0, 0.02),
      0px 4px 18px rgba(0, 0, 0, 0.08);

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(getColor("border"), 0.5);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: getColor("secondary");
      border-radius: 10px;
    }

    div {
      float: none;
      width: auto;
      padding: 0 !important;
      margin: 0 !important;
    }

    .IfPassRooms {
      padding: 0;

      .container-Table-Passenger {
        float: none;
        display: flex !important;
        align-items: center;
        width: auto;
        padding: 4px !important;
        margin: 0 0 8px !important;

        label {
          display: block;
        }

        .label-Passenger {
          display: block;
          flex: 1;
          margin: 0 !important;
          font-size: 16px !important;
          color: getColor("body") !important;
          font-weight: normal !important;
        }

        .input-Passenger {
          cursor: default;
          width: 40px !important;
          padding: 4px !important;
          border: 0 !important;
          margin: 0 !important;
          font-size: 14px !important;
          font-weight: bold;
          text-align: center;
          color: getColor("body") !important;
        }

        .input-group-btn {
          display: block;
          width: 36px;
          height: 36px;

          .btn {
            @extend .replace-icon;
            @extend .icon-remove__primary;
            position: static;
            width: inherit !important;
            height: inherit !important;
            margin: 0 !important;
            border: 0;
            border-radius: 36px;
            background-color: rgba(getColor("purple"), 0.1);
            background-position: center center;
            transition: background-color 0.2s;

            &.glyphicon-plus {
              @extend .icon-add__primary;
            }

            &:hover,
            &:focus {
              outline-color: getColor("purple");
              background-color: rgba(getColor("purple"), 0.2);
            }
          }
        }
      }

      // titles
      .IfPassContTitleRom {
        display: flex;
        justify-content: space-between;
      }
      .IfPassRoomTitle,
      .ifPassRemRoom {
        height: 32px;
        float: none;
        padding: 6px 0 !important;
        margin: 0 0 8px 0 !important;
        border-bottom: 1px solid getColor("border");
      }

      .IfPassRoomTitle {
        font-size: 16px;
        width: 100%;
        font-weight: bold;
      }

      .ifPassRemRoom {
        color: getColor("secondary") !important;

        &:hover {
          color: getColor("primary") !important;
        }
      }

      // ages
      .IfPassRoomAges {
        .IfPassAgesCont {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 4px 4px 12px !important;
          margin-bottom: 4px !important;
          border-radius: 6px;
          background-color: rgba(getColor("purple"), 0.05);

          select {
            width: 88px;
          }
        }
      }
    }

    // error
    .IfPassMessageCont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px !important;
      line-height: 1.2em;
      font-size: 13px;

      button.close {
        @extend .replace-icon;
        @extend .icon-close;
        position: static;
        opacity: 1 !important;
        background-size: 18px 18px;

        span {
          display: none;
        }
      }
    }

    // options buttons
    > div:last-child {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-top: 8px !important;

      .ifPassAplicar {
        order: 2;
        width: 100%;
        height: 36px;
        margin: 0;
        color: getColor("white") !important;
        border-radius: 6px !important;
        background: getColor("primary") !important;

        &:hover {
          background: getColor("secondary") !important;
        }
      }

      .ifPassAddRoom {
        cursor: pointer !important;
        order: 1;
        position: static;
        top: auto;
        left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 36px;
        margin: 0 0 8px !important;
        text-align: center;
        font-size: 14px !important;
        font-weight: normal !important;
        border-radius: 6px;
        background-color: rgba(getColor("border"), 0.5);
        transition: background-color 0.2s;

        &:hover {
          background: getColor("border");
        }
      }
    }
  }
}
