// vuelos
#buscadorVuelos {
  #opcionesViaje {
    position: relative;
  }
  #journeys {
    position: relative;
    float: none;
    width: auto;
    padding: 0;

    @include on(phone-small) {
      margin-top: 56px !important;
    }
  }
  #titleTramo1 {
    display: none !important;
  }

  .trayectoInputs {
    margin-bottom: 16px;
    > div {
      @extend .remove-clearfix;
      @extend .fluid-full-columns;
      display: flex;
      gap: 12px;

      @include on(phone) {
        flex-direction: column;
      }

      > div {
        display: flex;
        gap: 12px;
      }
    }
  }

  .vuelos-group-field {
    margin: 0;
  }

  .SpaceB {
    @include on(phone) {
      top: 0px !important;
    }

    @include on(phone-small) {
      top: 48px !important;
    }
  }

  #pasajeros {
    @extend .remove-clearfix;
    @extend .fluid-columns;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 12px;

    label {
      display: block;
      margin: 0;
      padding: 4px 0;
    }

    .nuevo-tramo {
      display: flex;

      label {
        &:first-child {
          order: 2;
        }
      }
    }

    .fa {
      @extend .replace-icon;

      &.fa-plus {
        @extend .icon-add__orange;
      }

      &.fa-times {
        @extend .icon-remove__orange;
      }
    }

    #multiTrayecto,
    #btnEliminar,
    a[href="#OpcAvanced"] {
      display: flex;
      align-items: center;
      margin: 0 !important;
      color: getColor("body") !important;

      &:hover,
      &:focus {
        color: getColor("secondary") !important;
        text-decoration: none;
      }
    }

    #btnEliminar {
      margin-right: 16px !important;
    }

    a[href="#OpcAvanced"] {
      i.fa {
        @extend .icon-arrow-down;
        order: 2;
        margin: 0;
        margin-left: 4px;
      }

      &[aria-expanded="true"] {
        i.fa {
          @extend .icon-arrow-up;
        }
      }
    }
  }

  // advanced options
  #OpcAvanced {
    @extend .remove-clearfix;
    @extend .fluid-full-columns;
    overflow: hidden;
    padding-top: 8px;
    border-top: 1px solid getColor("border");
    margin: 0 !important;
    height: auto !important;
    transition: none;

    &.in,
    &.collapsing {
      display: flex;
      gap: 12px;
      height: auto !important;
    }

    label {
      display: block;
    }
  }

  // submit button
  .form-submit {
    margin-top: -40px;

    @include on(phone) {
      margin-top: 0 !important;
    }
  }
  .collapse.in + .form-submit,
  .collapsing + .form-submit {
    margin-top: 16px;
  }
}
