#buscadorAutos {
  margin: 0;
  #opcionesViaje {
    @extend .fluid-columns;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 20px;

    label {
      display: block;
    }

    > div {
      flex: 1;
      min-width: 100px;

      &.col-md-3,
      &.col-sm-3 {
        flex-basis: 22%;

        @include on(phone) {
          flex-basis: 100%;
        }
      }

      &.col-sm-2 {
        flex-basis: 10%;
        min-width: 100px;
      }
    }
  }
}
