#buscadorSeguros {
  margin: 0;
  #opcionesViaje {
    @extend .fluid-columns;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 20px;

    label {
      display: block;
    }

    > div {
      flex: 1;
      min-width: 140px;

      &.clearfix {
        display: none;
      }

      &.col-md-3,
      &.col-sm-3 {
        flex-basis: 22%;
        @include on(phone) {
          flex-basis: 100%;
        }
      }

      &.col-sm-2 {
        flex-basis: 10%;
        min-width: 100px;
      }

      &.col-lg-10 {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        align-items: center;
        gap: 6px;

        @include on(phone) {
          flex-basis: 100%;
        }

        br {
          display: none;
        }

        label {
          width: 100%;
          padding: 0;
        }

        input[type="text"] {
          @extend .icon-user__purple;
          flex: 1;
          background-position: 12px center;
          min-width: 80px;
          margin: 0 !important;
        }
      }
    }

    .label_dias-assitencia {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      border: 0;
      border-radius: 8px;
      margin: 0 !important;
      background-color: rgba(getColor("border"), 0.35);
    }
  }
}
