#buscadorVueloHotel {
  .trayectoInputsVH {
    @extend .fluid-full-columns;
    display: flex;
    gap: 12px;
    padding-top: 46px;
    margin-bottom: 16px;

    @include on(phone) {
      flex-wrap: wrap;
    }

    > div {
      display: flex;
      gap: 12px;

      /** TODO: agregar clase .SpaceB */
      &.col-md-2 {
        @extend .SpaceB;
      }
    }
  }

  #opcionesViaje {
    > div.col-md-12 {
      float: none;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: flex-end;
      padding: 0;

      label {
        display: block;
        cursor: pointer;
      }
    }
  }

  #OpcAvancedVH {
    @extend .remove-clearfix;
    @extend .fluid-full-columns;
    display: none;
    width: 100%;
    border-top: 1px solid getColor("border");
    margin-top: 0 !important;
    height: auto !important;
    transition: none;

    &.in,
    &.collapsing {
      height: auto !important;
      display: flex;
      gap: 12px;

      @include on(phone) {
        flex-wrap: wrap;
      }
    }

    > div[class*="col-"] {
      padding: 8px 0 48px !important;

      @include on(phone) {
        padding: 0 !important;
      }

      &.col-xs-12 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 32px !important;
        padding-left: 8px !important;

        @include on(phone) {
          padding: 0 0 16px !important;
        }
      }
    }
  }

  .form-submit {
    margin-top: -28px;

    @include on(phone) {
      margin-top: 0 !important;
    }
  }
}
