#buscadorHoteles {
  #opcionesViaje {
    @extend .fluid-columns;
    position: relative;
    padding-top: 46px;
    padding-bottom: 20px;
    display: flex;
    gap: 12px;

    @include on(phone) {
      flex-wrap: wrap;
    }

    div {
      flex: 1;
      flex-basis: 15%;

      &:first-child {
        flex-basis: 50%;

        @include on(phone) {
          flex-basis: 100%;
        }
      }
    }

    // passengers
    div:nth-child(4n) {
      @extend .SpaceB;
    }
  }
}
