#tabsBusqueda {
  display: flex;
  flex-direction: column;

  ul#tabsHorizontal {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 40px 16px;
    border-bottom: 1px solid getColor("border");
    overflow: visible;

    @include on(phone) {
      margin: 0 16px 16px;
    }

    > li {
      display: flex;
      align-items: center;
      height: 80px !important;
      width: auto;
      padding: 0;
      margin: 0 24px -1px;
      border-bottom: 2px solid transparent;
      background: none !important;
      transition: border 0.2s;

      @include on(phone) {
        flex: 1;
        margin-left: 0;
        margin-right: 0;
      }

      &.active,
      &:hover,
      &:focus {
        background: none !important;
        > a {
          filter: none !important;
        }
      }

      &.active {
        border-bottom-color: getColor("secondary");
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 12px;
        color: getColor("primary");
        transition: color 0.2s;

        @include on(phone) {
          filter: invert(25%) sepia() saturate(10000%) hue-rotate(-117deg)
            brightness(0.5);
        }

        &:hover,
        &:focus {
          color: getColor("secondary");
          text-decoration: none;
        }

        > i {
          display: block;
          width: 22px;
          min-width: 22px;
          height: 22px;
          margin: 0;
          margin-right: 12px;

          @include on(phone) {
            margin-right: 0;
          }
        }

        > p.textos_Buscador {
          padding: 0;
          margin: 0;
          color: inherit !important;
          white-space: nowrap;
        }
      }
    }
  }

  #tabContainer {
    position: relative;
    padding: 0 !important;
    margin: 0 40px 32px;

    @include on(phone) {
      margin: 0 16px 16px;
    }

    .espacioinvisible40,
    .espacioinvisible {
      display: none;
    }
  }
}
