.dvLanding {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 48px 32px;
  background-color: getColor("white");

  &::before,
  &::after {
    display: none;
  }

  @include on(phone) {
    gap: 40px;
  }

  &-row {
    display: flex;
    gap: 40px;

    .dvLanding-item {
      flex-basis: calc(33.33% - 80px);
    }

    @include on(phone) {
      flex-direction: column;
    }
  }

  &-item {
    flex: 1;

    &--link {
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    &--img {
      position: relative;
      top: 0;
      display: block;
      max-width: 100%;
      width: 100%;
      min-height: 300px;
      border-radius: 8px;
      transition: box-shadow 0.2s, top 0.2s;
      object-fit: cover;

      a:hover & {
        top: -4px;
        box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.04),
          0px 16px 16px rgba(0, 0, 0, 0.06), 0px 8px 8px rgba(0, 0, 0, 0.08);
      }

      @include on(tablet) {
        min-height: 200px;
      }

      @include on(phone) {
        min-height: auto;
      }
    }

    &--title {
      font-size: 20px;
      font-weight: 600;
      color: getColor("title");
      margin: 18px 0 8px;
      transition: color 0.2s;

      a:hover & {
        color: getColor("secondary");
      }
    }

    &--desc {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: getColor("text");
      transition: color 0.2s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// exclusive styles for BI
.landing_BI {
  .logo_BI {
    text-align: right;

    img {
      margin: 0 !important;
      width: 100% !important;
      height: auto !important;
    }
  }
  .dv-bar-purple {
    background: getColor('bi_secondary');
  }
  .dvMainBanner {
    background: getColor("bi_primary");
  }
}
 