.date-picker-wrapper {
  &.two-months {
    width: 486px;
    margin-left: -180px;
    margin-top: -4px;

    @include on(tablet) {
      margin-left: -220px;
    }

    @include on(phone) {
      left: 50% !important;
      margin-left: -223px;
    }
  }

  &.single-month {
    @include on(phone) {
      margin-top: -4px;
      left: 36px !important;
      right: 36px !important;

      .month-wrapper {
        table {
          width: 100%;
        }
      }
    }
  }
}