#header {
  .container {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::before,
      &::after {
        display: none;
      }
      
      > div {
        order: 0;
        // logo
        &:nth-child(1) {
          width: auto;
          max-width: 240px;
          margin-left: -24px;

          a {
            display: block;
          }

          img {
            margin: 0 !important;
            width: 100% !important;
            height: auto !important;
          }

          @include on(phone) {
            margin-left: 0;
          }
        }
        // nav
        &.textosNavegacionFondo {
          position: relative;
          z-index: 10;
          min-width: 640px;
          padding: 0;
          margin: 0;
        }
        // secondary image
        &:nth-child(3),
        &.logo_BI {
          order: 10;
          width: 120px;
          min-width: 100px;
          display: flex;
          justify-content: flex-end;

          img {
            margin: 0 !important;
          }
        }
        // nav mobile
        &:last-child {
          flex: 1;
          width: auto;
          padding: 0;
        }
        .navegacion_mobile {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 0;

          img {
            display: block !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
  // // desktop menu
  // .textosNavegacionFondo {
  //   @include on(laptop) {
  //     min-width: 700px;
  
  //     & + .col-md-2 {
  //       width: 100px;
  //     }
  //   }

  //   @include on(tablet) {
  //     & + .col-md-2 {
  //       // display: none;
  //     }
  //   }
  // }

  // // mobile menu
  // .col-xs-4.visible.sm {

  // }
}